    
    {% extends "::report.html.twig" %}

{% block stats %}
<p>« 2200 francs représentent le revenu minimum vital pour une personne seule. »</p>
{% endblock %}

{% block lead %}
<h1><span>Etudiants</span></h1>
<p>Nous sommes conscients que les étudiants ne sont pas égaux face à leurs études. Les uns bénéficient d’aides étatiques, certains de parents généreux alors que d’autres n’ont que leur imagination et leur créativité.
<p>Nous avons rencontré deux étudiantes qui ne bénéficient d’aucune aide mais poursuivre pourtant leurs études par leurs propres moyens.</p>
<p>Au travers d’une série de courtes interviews, nous vous invitons à faire connaissance avec elles. Vous allez découvrir leur quotidien, les problématiques auxquelles elles sont confrontées et leurs astuces pour y remédier.</p>
{% endblock %}

{% block article_top %}



{% endblock %}

{% block article_bottom %}



<section class="portrait">
    <h1>Céline, 23 ans</h2>
        <h2>Etudiante en Géographie, Université de Lausanne</h2>
        <img src="{{ asset('images/Etudiante-1.jpg') }}" alt="Céline" /> 
</section>
        <section class="quote">
            <quote class="big">
                <p>
                    <span>C'est un idéal de vie : </span>
                    <span>vivre avec moins, éviter de produire</span> 
                    <span>des choses qui ne sont pas nécessaires.</span>
                </p>
            </quote>
        </section>
        <section class="video">
            <iframe id="ytplayer" type="text/html" width="960" height="540" src="http://www.youtube.com/embed/exG8TNc4ujk?rel=0&autoplay=0&autohide=1&color=red&controls=1&iv_load_policy=3&modestbranding=1&theme=light&showinfo=0" frameborder="0"></iframe>
        </section>

        <section class="portrait">
            <h1>Nadine, 25 ans</h2>
                <h2>Etudiante en Criminologie, Université de Lausanne</h2>
                <img src="{{ asset('images/Etudiante-2.jpg') }}" alt="Nadine" /> 
                </section>
                <section class="quote">
                    <quote class="big">
                        <p>
                            <span>Je travaille à côté de mes études à 60%,</span>
                            <span>ça me permet de rembourser mes dettes,</span> 
                            <span>de financer mes études,</span>
                            <span>mais également de pouvoir manger.</span>
                        </p>
                    </quote>
                </section>
                <section class="video">
                    <iframe id="ytplayer" type="text/html" width="960" height="540" src="http://www.youtube.com/embed/fksWQ4YKpjM?rel=0&autoplay=0&autohide=1&color=red&controls=1&iv_load_policy=3&modestbranding=1&theme=light&showinfo=0" frameborder="0"></iframe>
                </section>
{% endblock %}