{% extends "::report.html.twig" %}

{% block stats %}
    <p>«En Suisse, 30% des gens mangent moins de 5 fruits et légumes par jour!»</p>
    <figure><img alt="" src="{{ asset('images/stats.png') }}" /></figure>
{% endblock %}

{% block lead %}
    <h1><span>Etudiants</span></h1>
    <p>J'ai entendu parler de ce mythe concernant de nombreux endroits, mais surtout à propos de l'Afrique. Une recherche rapide sur Internet produit des dizaines de gros titres et d'ouvrages, tels que « Comment les pays riches sont devenus riches et pourquoi les pays pauvres restent pauvres » ou « Pourquoi les pauvres restent pauvres ? », etc.</p>
{% endblock %}

{% block article_top %}

    

{% endblock %}

{% block article_bottom %}

    <section class="video">
        <iframe id="ytplayer" type="text/html" width="960" height="540" src="http://www.youtube.com/embed/BDVoO0SA5KI?autoplay=0&autohide=1&color=red&controls=1&iv_load_policy=3&modestbranding=1&theme=light&showinfo=0" frameborder="0"></iframe>
        
        <section class="tcol">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </section>
    </section>
    
    <section class="quote">
        <quote class="big">
            <p>
                <span>En Suisse, 30% des gens mangent</span>
                <span>moins de 5 fruits</span>
                <span>et légumes par jour!</span>
            </p>
        </quote>
    </section>
    
    <section class="twothird">
        <section class="left">
            <img alt="" src="{{ asset('images/047.jpg') }}" />
        </section>
        <section class="right">
            <quote class="small">La vie avance, qu’importe de quoi sera fait demain.</quote>
            <p>Nunc augue tellus, egestas quis nulla a, viverra sagittis metus. Vestibulum pellentesque magna nec dolor condimentum malesuada. In vel orci rutrum nibh vehicula convallis. In hac habitasse platea dictumst. Proin sed lorem eu arcu bibendum ultricies non a magna. Aliquam in est eros.</p>
            <span class="name">Jean-Paul Delarue</span>
        </section>
    </section>
    
    <section class="tcol">
        <h1>Pourquoi est-ce ainsi?</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </section>
    
    <section class="quote">
        <quote class="big">
            <p>
                <span>Une citation pertinente qui choque!</span>
            </p>
        </quote>
    </section>

    <section class="portrait">
        <h1>Sharon West</h2>
        <h2>Boutique Caritas Yverdon</h2>
        <img src="{{ asset('images/BoutiqueCaritas-2.jpg') }}" alt="Sharon West Caritas Yverdon" /> 
        <section class="question">
            <h3 class="question">Sous quelle forme la précarité se manifeste-t-elle dans le cadre de votre travail ?</h3>
            <p class="answer">Il y a beaucoup de personnes dans la précarité qui viennent à la boutique. Il y a des gens suisses, portugais, polonais, des personnes âgées, des étudiants, c’est pour tout le monde. Elle est très fréquentée et énormément par les étrangers.</p>
        </section>
        <section class="question">
            <h3 class="question">Comment la vivez/expérimentez-vous ?</h3>
            <p class="answer">Normalement, c’est un plaisir d’aider les gens, mais quelques fois c’est difficile. Par exemple, quand il y a des gens qui vivent dans la rue et qui demandent des habits gratuits. Mais normalement c’est pas un problème, j’aime beaucoup.</p>
        </section>
        <footer>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</footer>
    <table>
        <tbody>
        <tr>
            <td colspan="2">CARITAS La Boutique</td>
        </tr>
        <tr>
            <td>Rue Maison-Rouge 11 </td>
            <td>Lundi 13h30 - 18h</td>
        </tr>
        <tr>
            <td>1400 Yverdon</td>
            <td>Mardi à vendredi 9h-12 et 13h30-18h</td>
        </tr>
        <tr>
            <td>Tél. 024 426 34 61</td>
            <td>Samedi 9h-12h</td>
        </tr>
        </tbody>
    </table>   
    </section>
    <section class="smalltalks">
        <h1><span>Small Talks</span></h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Re magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.</p>
    </section>
    <section class="video">
        <iframe id="ytplayer" type="text/html" width="960" height="540" src="http://www.youtube.com/embed/BDVoO0SA5KI?autoplay=0&autohide=1&color=red&controls=1&iv_load_policy=3&modestbranding=1&theme=light&showinfo=0" frameborder="0"></iframe>
        </section>
{% endblock %}