    
    {% extends "::report.html.twig" %}

{% block stats %}
<p>« 2200 francs représentent le revenu minimum vital pour une personne seule. »</p>
{% endblock %}

{% block lead %}
<h1><span>Etudiantes sans le sou</span></h1>
<p>Tous les étudiants ne sont pas égaux face à leurs études. Les uns bénéficient d’aides étatiques, certains de parents généreux alors que d’autres n’ont que leur imagination et leur créativité. Pourtant, pour pouvoir rêver d’un avenir meilleur, accéder aux études et se former reste une priorité. Deux étudiantes se livrent et nous confient leurs astuces d’épargnes afin de pouvoir étudier tout en menant une vie digne, même si la précarité est omniprésente.</p>
{% endblock %}

{% block article_top %}



{% endblock %}

{% block article_bottom %}

<section class="portrait">
    <h1>Céline, 23 ans</h1>
    <h2>Etudiante en Géographie, Université de Lausanne</h2>
    <section class="twothird">
        <section class="left">
            <img src="{{ asset('images/Etudiante-1.jpg') }}" alt="Céline" />
        </section>
        <section class="right">
            <quote class="small">C'est un idéal de vie : vivre avec moins, éviter de produire des choses qui ne sont pas nécessaires.</quote>
    
            <span class="name">Céline, 23 ans</span>
        </section>
    </section>
</section>
        <section class="video">
            <iframe id="ytplayer" type="text/html" width="960" height="540" src="http://www.youtube.com/embed/exG8TNc4ujk?rel=0&autoplay=0&autohide=1&color=red&controls=1&iv_load_policy=3&modestbranding=1&theme=light&showinfo=0" frameborder="0"></iframe>
        </section>

<section class="portrait">
    <h1>Nadine, 25 ans</h1>
    <h2>Etudiante en Criminologie, Université de Lausanne</h2>
    <section class="twothird">
        <section class="left">
            <img src="{{ asset('images/Etudiante-2.jpg') }}" alt="Nadine" /> 
        </section>
        <section class="right">
            <quote class="small">Je travaille à côté de mes études à 60%, ça me permet de rembourser mes dettes, de financer mes études, mais également de pouvoir manger.</quote>
    
            <span class="name">Nadine, 25 ans</span>
        </section>
    </section>
</section>
                <section class="video">
                    <iframe id="ytplayer" type="text/html" width="960" height="540" src="http://www.youtube.com/embed/fksWQ4YKpjM?rel=0&autoplay=0&autohide=1&color=red&controls=1&iv_load_policy=3&modestbranding=1&theme=light&showinfo=0" frameborder="0"></iframe>
                </section>
{% endblock %}