{% extends "::report.html.twig" %}

{% block stats %}
   
{% endblock %}

{% block lead %}
    <h1><span>Famille</span></h1>
    <p>Dans le canton de Fribourg, en région campagnarde, une famille suisse composée de deux parents et quatre enfants âgés respectivement de 10, 14, 21 et 23 ans vit avec peu et se trouve économiquement, selon le barème officiel, dans une situation de précarité comme environ 560’000 ménages suisses.</p>
{% endblock %}

{% block article_top %}

{% endblock %}

{% block article_bottom %}

   
    <section class="portrait">

        <section class="question">
            <p class="answer">Le père est cuisinier à 100% et la mère s’occupe de faire tourner la maison et ses occupants qui se composent, en plus de la famille, de : 2 chiens, 1 chat, des lapins, des poules, des canards, des pigeons blancs, des oiseaux et des poissons ! Tout ce beau monde habite dans une modeste maison de 6 pièces très animée, mais dans un environnement, certes restreint par l’argent, mais surtout proche de la nature et avec des valeurs familiales saines.</p>
        </section>
         <section class="quote">
        <quote class="big">
            <p>
                <span>Je n’aurais jamais choisi d’avoir</span>
                <span>des enfants pour les larguer ailleurs,</span>
                <span>c’est hors de question !</span>
            </p>
        </quote>
    </section>
        <section class="question">
            <p class="answer">
            Mais ce choix est aussi économique car, bien qu’un revenu supplémentaire leur aurait apporté plus d’argent, cela n’aurait pas été plus bénéfique pour eux. Ils auraient, entre autres, plus d’impôts à payer, des frais de garde ou d’accueil extra-scolaire et, surtout, beaucoup moins de temps à passer avec leurs enfants !</p>
 
<p class="answer">“Pour moi c’est une chance d’avoir pu élever mes enfants, c’est même un luxe à l’heure actuelle!”</p>
 
<p class="answer">D’après la plus grande des filles, c’est une chance que la mère puisse s’occuper de la maison, des enfants, du jardin et des animaux. Autrement, ils n’auraient jamais connu ce plaisir d’être proches de la nature en possédant un jardin, des animaux et tout ce qui contribue à l’équilibre de la famille et aux bonnes relations entretenues avec les enfants.<p>
 
<p class="answer">“C’est clair à un moment donné on a choisi une certaine hygiène de vie et ça fait un certain sacrifice. Mais ça en vaut clairement la peine, rien que pour nos enfants.”</p>
        </section>
              <section class="quote">
        <quote class="big">
            <p>
                <span>Pourquoi acheter des nouveaux meubles,</span>
                <sanp>si on peut en avoir d’occasion et</sanp>
                    <span>éviter qu’ils finissent à la poubelle ?</span>
            </p>
        </quote>
    </section>
        
        <section class="question">
            <p class="answer">Il y a 12 ans, après avoir déménagé deux fois, la famille a eu la chance de devenir propriétaire, accédant ainsi à une liberté très appréciable. Mais il n’en résulte pas forcément moins ou plus de frais que des locataires dans une même situation familiale. Être propriétaire n’est donc pas forcément synonyme de stabilité financière, ni de gouffre financier insurmontable non plus.</p>
            <p class="answer">“Des personnes vivant en ville qui ont le même salaire, ou même plus que nous, pourraient arriver à une même situation. Eux auront plutôt 2000.- de loyer contre 900.- pour nous en étant propriétaire, mais nous avons des frais liés à la maison en plus. Finalement, on arriverait au même, c’est juste que l’argent va ailleurs.”</p>
            <p class="answer">Les frais liés à la maison sont principalement le loyer, qui comprend le remboursement du crédit d’environ 400.-, et les charges (électricité et eau) de 500.-, plus tous les frais variables liés à l’entretien et aux réparations de la maison, ainsi que les diverses assurances ménage, chose/bâtiment et impôts fonciers.
</p>
            <p class="answer">Au niveau de l’aménagement intérieur, ils n’ont que très rarement acheté du neuf. Les meubles sont en grande partie de première main. À l’époque, ils faisaient beaucoup de troc dans les villages, que ce soit pour les jouets, les habits ou les meubles. Les choses matérielles ne sont pas une priorité pour eux. Il y a des choses beaucoup plus importantes, comme la famille.</p></section>
                          <section class="quote">
        <quote class="big">
            <p>
                <span>T’es en permanence à découvert,</span>
                <span>c’est assez rare d’être en positif.</span>
                    <span>Mais au moins, on ne doit rien à personne !</span>
            </p>
        </quote>
  </section>
    <section class="question">
            <p class="answer">Faire un budget qui colle à la réalité est difficile, mais la famille a accepté de mettre sur papier un budget au plus proche de ses dépenses. D’après ce budget, il devrait lui rester environ 1000.-, mais ils sont clairement utilisés, voire dépassés, pour tous les extras : une sortie en famille, un restaurant (à de tès rares occasions), un abonnement piscine ou encore un camp de ski.</p>
        <p class="answer">“Le 13ème salaire, on ne le voit pas ! Tout part dans les assurances, taxes et autres frais de fin d’année.”
</p>
        <p class="answer">Cet engrenage ne leur permet pas vraiment d’épargner, sauf pour le 3ème pilier, mais qui est prévu comme amortissement pour la maison. Une technique d’ailleurs pour éviter d’avoir des impôts à payer. Au final, “leur truc” c’est de ne pas se prendre la tête, de prendre les choses comme elles viennent et en gardant toujours un oeil sur le compte pour “tirer la sonnette d’alarme” quand le niveau du compte devient critique, ce qui arrive souvent à partir du 20 du mois.
</p>
        <p class="answer">“Au moins, on est décomplexé du fric !”
</p></section>
        <img src="{{ asset('images/BoutiqueCaritas-2.jpg') }}" alt="Budget" /> 
        <section class="tcol">
            <p>On trouve dans les statistiques le seuil de précarité pour une famille de deux enfants de moins de 14 ans à 4050.-. En se basant sur ce chiffre et sachant qu’en moyenne un enfant de plus de 14 ans coûte environ 900.-*, nous pouvons ajouter 1800.- aux 4050.- donnant ainsi une estimation du seuil de pauvreté pour une famille de 4 enfants à 5850.-
Nous constatons donc que cette famille arrive tout juste au seuil de précarité en Suisse.
</p>
            <footer>* source : http://www.bfs.admin.ch/bfs/portal/fr/index/news/publikationen.html?publicationID=3540</footer>
            </section>
        <section class="quote">
        <quote class="big">
            <p>
                <span>On a souvent des journées sans viande,</span>
                <span>mais on se porte très bien !</span>
            </p>
        </quote>
    </section>
      
            <section class="question">
            <p class="answer">Comme beaucoup de familles, ils traquent les actions et réductions que l’on peut trouver dans les journaux pour faire leurs courses et choisissent les magasins en fonction. Acheter en gros pour amoindrir les coûts est aussi une bonne tactique. En cumulant les coupons de réduction et grâce aux systèmes de points de certains magasins, ils arrivent même à payer quelques courses en cas de fin de mois difficile.</p>
                <p class="answer">“On a des congélateurs pleins en cas de coup dur !” </p>
                <p class="answer">Par le biais du travail de cuisinier du père, ils ont la chance de pouvoir acheter la viande et le poisson à des prix avantageux (souvent à moitié prix) chez le boucher du restaurant où il travaille. La meilleure des économies est de manger moins de viande et de poisson et de les remplacer, par exemple, par des oeufs.</p>
                <p class="answer">Pour économiser sur le prix des légumes et des fruits, la mère fait pousser ses propres légumes et quelques fruits dans son jardin potager. Ce qui permet non seulement d’amoindrir les coûts, mais aussi d’avoir des produits frais ! Même chose pour les œufs qui proviennent de leurs propres poules.</p>
                <p class="answer">Par contre, on pourrait se demander pourquoi avoir tant d’autres animaux “inutiles” connaissant leur situation. Simplement parce que le plaisir de la famille d’avoir des animaux est quelque chose de primordial pour eux. En fin de compte, ils ne leur coûtent même pas trop cher (environ 150.- par mois). Ils sont nourris en partie avec les restes de nourriture comme du pain, des pâtes, des légumes provenant du restaurant où le père travaille.
</p>
                <p class="answer">“Si on privait la famille du plaisir d’avoir des animaux, on va bien sûr faire des économies, mais on ne vit plus.”
</p>
                <p class="answer">Pour encore économiser, ils ont pour habitude, durant le weekend et les vacances, de ne manger que deux repas principaux par jour, un le matin et un le soir avec en plus un goûter vers 16h.</p>
                </section>
                <section class="quote">
        <quote class="big">
            <p>
                <span>L’achat de vêtements c’est pour nous des</span>
                <span>dépenses exceptionnelles. Dans le cas où</span>
                <span>ils sont troués, trop petits ou trop usés.</span>
            </p>
        </quote>
    </section>
                              <section class="question">
                <p class="answer">Les habits se passent d’un enfant à l’autre. Ils ont des cartons pleins d'habits en réserve. Principalement des habits de deuxième main.</p>
                <p class="aanswer">Contre tout attente, leurs enfants ne s’en plaignent pas, mais il est clair que les autres enfants réalisent qu’ils n’ont pas comme eux des habits de marque ou neufs.</p></section>
                                <section class="quote">
        <quote class="big">
            <p>
                <span>On peut voir la santé du porte-monnaie</span>
                <span>de quelqu’un en voyant sa santé dentaire.</span>
            </p>
        </quote>
    </section>
                              <section class="question">
                <p class="answer">Selon la mère, le fait de ne pas pouvoir se soigner en allant chez le dentiste, le médecin ou même l’oculiste, ou y aller trop peu souvent, est une forme claire de précarité. Un des grands problèmes c’est le dentiste, ils n’ont pas les moyens d’y aller souvent. De ce fait, ils espacent les visites, ce qui ne fait que repousser le problème et augmenter le prix de la prochaine visite. Selon eux, ne pas pouvoir aller chez le médecin quand ils ont en besoin est une précarité en Suisse !</p>
                                  <p class="answer">“Il faudrait un minimum de soin pour mener une vie normale, ça ne devrait pas être un luxe mais un droit humain ! Tout le monde a des problèmes de dents ou oculaires, pourquoi on n'est pas égaux avec ça ? En Suisse, c’est inadmissible.”
</p></section>
                              <section class="quote">
        <quote class="big">
            <p>
                <span>L’amitié c’est précieux,</span>
                <span>y a pas que l’argent dans la vie.</span>
            </p>
        </quote>
    </section>
                <section class="question">
                <p class="answer">Le père et la mère ne trouvent pas qu’ils sont à plaindre car, au final, ils s’en sortent même s’il faut faire beaucoup attention à l’argent. Le principal pour eux, c’est que leurs enfants se portent bien et que la famille puisse s’en sortir financièrement sans rien devoir à personne.</p>
                    <p class="anwser">“La précarité, c’est plus le fait de perdre son emploi et que la situation familiale en soit chamboulée ou ne pas trouver de logement. Sans un emploi fixe, tu n’as plus rien, t’es au chômage, voire à l’assistance sociale. Tu ne t’en sors pas !”
</p>
                    <p class="answer">La mère regrette aussi qu’à l’heure actuelle l’argent prenne tant d’importance. Que l’on vive dans une société de rentabilité et de “donnant-donnant”.</p>
                    <p class="answer">Par contre, leur plus grande fille trouve que ce n’est pas normal en Suisse d’avoir tant de peine à joindre les deux bouts. Elle est d’accord que le cas de sa famille soit considéré comme précaire.</p>
                    <p class="answer">“Quand tu commences à te demander : est-ce que je vais arriver à boucler mes fins de mois ? Est-ce que je vais chez le médecin ce mois ou le mois prochain ? Puis-je me permettre ceci ? Être dans cette situation de souci permanent, c’est déjà être dans la précarité.”</p>
                    <p class="answer">D’après la fille, il y a aussi de bons côtés à avoir vécu ou à vivre avec peu. On apprend la vraie valeur de l’argent en n’ayant pas d’argent de poche, en se débrouillant avec peu et on évite beaucoup de gaspillage. De bonnes valeurs qui se ressentent à travers chacun d’eux par leur politesse, gentillesse et hospitalité. Ils donnent de leurs légumes, sont toujours prêts à rendre service, et tout cela sans attendre en retour, quelle que soit leur situation financière.</p>
                    <p class="answer">Tout ceci fait de cette famille des personnes simples, généreuses et attachantes !</p></section>
              <section class="quote">
        <quote class="big">
            <p>
                <span>Les relations humaines par l’échange</span>
                <span>et sans attendre en retour, c’est primordial !</span>
            </p>
        </quote>
    </section>                
         
                              
                              
{% endblock %}