{% extends "::report.html.twig" %}

{% block stats %}
   
{% endblock %}

{% block lead %}
    <h1><span>Famille</span></h1>
    <p>Dans le canton de Fribourg, en région campagnarde, une famille suisse composée de deux parents et quatre enfants âgés respectivement de 10, 14, 21 et 23 ans vit avec peu et se trouve économiquement, selon le barème officiel, dans une situation de précarité comme environ 560’000 ménages suisses.</p>
{% endblock %}

{% block article_top %}

{% endblock %}

{% block article_bottom %}

   
    <section class="portrait">

        <section class="question">
            <p class="answer">Le père est cuisinier à 100% et la mère s’occupe de faire tourner la maison et ses occupants qui se composent, en plus de la famille, de : 2 chiens, 1 chat, des lapins, des poules, des canards, des pigeons blancs, des oiseaux et des poissons ! Tout ce beau monde habite dans une modeste maison de 6 pièces très animée, mais dans un environnement, certes restreint par l’argent, mais surtout proche de la nature et avec des valeurs familiales saines.</p>
        </section>
         <section class="quote">
        <quote class="big">
            <p>
                <span>Je n’aurais jamais choisi d’avoir des enfants pour les larguer ailleurs, c’est hors de question !</span>
            </p>
        </quote>
    </section>
        <section class="question">
            <p class="answer">
            Mais ce choix est aussi économique car, bien qu’un revenu supplémentaire leur aurait apporté plus d’argent, cela n’aurait pas été plus bénéfique pour eux. Ils auraient, entre autres, plus d’impôts à payer, des frais de garde ou d’accueil extra-scolaire et, surtout, beaucoup moins de temps à passer avec leurs enfants !</p>
 
<p class="answer">“Pour moi c’est une chance d’avoir pu élever mes enfants, c’est même un luxe à l’heure actuelle!”</p>
 
<p class="answer">D’après la plus grande des filles, c’est une chance que la mère puisse s’occuper de la maison, des enfants, du jardin et des animaux. Autrement, ils n’auraient jamais connu ce plaisir d’être proches de la nature en possédant un jardin, des animaux et tout ce qui contribue à l’équilibre de la famille et aux bonnes relations entretenues avec les enfants.<p>
 
<p class="answer">“C’est clair à un moment donné on a choisi une certaine hygiène de vie et ça fait un certain sacrifice. Mais ça en vaut clairement la peine, rien que pour nos enfants.”</p>
        </section>
     
{% endblock %}