{% extends "::report.html.twig" %} {% block lead %}
<h1>
    <span>La précarité en Suisse</span>
</h1>
<p>Qu'est-ce que la précarité ? Qui sont les personnes en situation de précarité financière en Suisse ? De quelles aides bénéficient-elles ? Cette rubrique répond à quelques questions fondamentales sur la précarité en Suisse, selon les données de l'Office Fédéral de la Statistique (OFS).</p>
{% endblock %} 
{% block article_top %} 
{% endblock %} 
{% block article_bottom %}

<section class="tcol">
    <h1>À quel moment sommes-nous dans la précarité ?</h1>
    <p>D’après la Confédération, sont considérées comme pauvres les personnes qui n’ont pas les moyens financiers d’acquérir les biens et services nécessaires à une vie sociale intégrée. La Confédération a établi des valeurs nationales moyennes qui déterminent le revenu minimum vital, pour différents types de ménages. En 2011, ces valeurs étaient les suivantes :</p>
</section>
<section class="portrait">
    <img src="{{ asset('images/Seuilsdepauvrete.jpg') }}" alt="Seuils de pauvreté des différents ménages" />
    <p class="answer">Le forfait pour l’entretien comprend les dépenses courantes (alimentation, habillement, soins corporels, déplacements, loisirs, etc.) ainsi que les frais d’assurance.</p>
</section>



<section class="tcol">
    <h1>En Suisse, quelles sont les personnes en situation de précarité financière ?</h1>
    <p>En 2011, 7,6% de la population se trouvaient en situation de précarité financière. Un des grands clichés concernant la pauvreté est qu’elle ne concerne que les étrangers résident en Suisse. Certes, 9,7% d’entre eux sont concernés, mais 7% de Suisses sont également dans cette situation. La précarité touche toutes les catégories : classes d’âge, sexes, nationalités, niveaux de formation, types de ménage, mais pas dans les mêmes proportions. Si l’on considère la classe d’âge, on voit que 5% des 25-49 ans sont touchés, soit 3 fois moins que les 65 ans et plus, qui sont 16,1% à être au-dessous du seuil de pauvreté. Les femmes (8,6%) sont également plus touchées que les hommes (6,7%). Différents facteurs peuvent générer la précarité. Le niveau de formation en est un. En 2011, 13,7% des personnes de 18 ans ou plus n’ayant fait que l’école obligatoire étaient en situation précaire, alors que 6,9% des personnes qui ont atteint le degré secondaire et seulement 5% qui ont étudié à l’Université ou en Haute École sont touchés. Le type de ménage est un facteur important. 25,7% des personnes seules âgées de 65 ans ou plus sont en situation précaire alors que la proportion des personnes seules de moins de 65 ans est de 11,4%. Les parents seuls avec enfant(s) sont 21,9% à ne pas pouvoir joindre les deux bouts.</p>
</section>

<section class="tcol">
    <h1>De quelles aides les personnes peuvent-elles bénéficier ?</h1>
</section>
    <p>Le système de la protection sociale en Suisse repose sur plusieurs assurances sociales telles que l’AVS, l’AI ou l’aide sociale. Ce système entièrement financé par la Confédération, les cantons et les communes a coûté 155 milliards de francs en 2012. En 2007, ce montant s’élevait à 132,4 milliards. 92,7% de cette somme sont directement attribués aux prestations sociales.</p>

    <section class="tcol">
    <h1>Dépenses totales en 2007</h1>
</section>
    
    <section class="graph">
        <figure>
            <div class="row">
                <ul data-pie-id="pie1">
                    <li data-value="92.9">Prestations sociales</li>
                    <li data-value="5.3">Dépenses de fonctionnement</li>
                    <li data-value="1.8">Autres dépenses</li>
                </ul>
                <div id="pie1"></div>
            </div>
        </figure>
    </section>
    
    <p>Le montant global de la protection sociale est réparti en différentes catégories : vieillesse, maladie/soins de santé, invalidité, survie, famille/enfant(s), chômage, exclusion sociale et logement. Les deux plus grandes catégories sont la vieillesse et la maladie/soins de santé. Entre 1990 et 2007, leurs parts ont peu varié, contrairement au montant global des prestations sociales qui lui est 2,3 fois plus important.</p>


<section class="tcol">
    <h1>Prestations sociales par fonction, en pourcent des prestations sociales totale</h1>
</section>
    
    <section class="graphs">
        <figure>
            <div class="row">
                <ul data-pie-id="pie2">
                    <li data-value="46">Vieillesse</li>
                    <li data-value="28">Maladie/soins de santé</li>
                    <li data-value="10">Invalidité</li>
                    <li data-value="6">Survie</li>
                    <li data-value="6">Famille/Enfants</li>
                    <li data-value="1">Chômage</li>
                    <li data-value="2">Exclusion sociale</li>
                    <li data-value="1">Logement</li>
                </ul>
                <div id="pie2"></div>
                <h2>1990:58 033 millions de francs</h2>
            </div>
        </figure>

        <figure>
            <div class="row">
               
                <ul data-pie-id="pie3">
                    <li data-value="46">Vieillesse</li>
                    <li data-value="27">Maladie/soins de santé</li>
                    <li data-value="12">Invalidité</li>
                    <li data-value="4">Survie</li>
                    <li data-value="5">Famille/Enfants</li>
                    <li data-value="3">Chômage</li>
                    <li data-value="3">Exclusion sociale</li>
                    <li data-value="1">Logement</li>
                </ul>
                <div id="pie3"></div>
                <h2>2007: 132 364 millions de francs</h2>
            </div>
        </figure>
    </section>

    <p>En plus de ce système qui est d’origine ou sous contrôle étatique, il existe un secteur privé constitué d’organisations sans but lucratif (OSBL). Ces organisations, environ 1400 en 2010, forment un groupe très hétérogène. Certaines ont un champ d’action spécialisé alors que d’autres, comme la Croix-Rouge, offrent des prestations dans divers domaines.</p>
</section>

<section class="tcol">
    <h1>Comment ces organisations sans but lucratif sont-elles financées ?</h1>
    </section>
    <p>En 2010, les organisations sans but lucratif ont récolté près de 3 milliards de francs suisses. Les sources de ce financement sont diverses, toutefois 42% proviennent des contributions étatiques (Confédération, Cantons, Communes).</p>


<section class="tcol">
    <h1>Sources de financement des OSBL par type, en 2010</h1>
    </section>

   <section class="graph">
        <figure>
            <div class="row">
                <ul data-pie-id="pie4">
                    <li data-value="27">Dons, donations, legs</li>
                    <li data-value="5">Cotisations des membres</li>
                    <li data-value="27">Autres recettes</li>
                    <li data-value="15">Contributions de la Confédération</li>
                    <li data-value="20">Contributions des cantons</li>
                    <li data-value="7">Contrtibutions des communes</li>
                </ul>
                <div id="pie4"></div>
                <h2>Le totale correspond à environ 3 milliards de francs</h2>
            </div>
        </figure>
    </section>

<section class="tcol">
    <h1>Comment les fonds sont-ils attribués par les OSBL ?</h1>
    </section>
    <p>Seul 1,2 milliard de francs est pris en compte dans les dépenses dites de prestations sociales et de gestion interne. 1,8 milliard est attribué à d’autres fonctions.</p>


<section class="tcol">
    <h1>Répartiotion des dépenses des OSBL par catégorie, en 2010</h1>
    </section>
    
   <section class="graph">
        <figure>
            <div class="row">
                <ul data-pie-id="pie5">
                    <li data-value="57">Prestations sociale</li>
                    <li data-value="11">Charges de personnel générale</li>
                    <li data-value="4">Autres charges de personnel</li>
                    <li data-value="23">Charges d'exploitation</li>
                    <li data-value="5">Autres charges</li>
                </ul>
                <div id="pie5"></div>
                <h2>Le totale correspond à 1,2 milliards de francs</h2>
            </div>
        </figure>
    </section>

    <p>57% des fonds sont attribués aux prestations sociales. Quelles sont ces prestations et comment les fonds sont-ils répartis?</p>


<section class="tcol">
    <h1>Prestations sociales des OSBL par fonctions, en 2010</h1>
    </section>
   
   <section class="graph">
        <figure>
            <div class="row">
                <ul data-pie-id="pie6">
                    <li data-value="15">Vieillesse</li>
                    <li data-value="21">Maladie/soins de santé</li>
                    <li data-value="25">Invalidité</li>
                    <li data-value="1">Survie</li>
                    <li data-value="10">Famille/Enfants</li>
                    <li data-value="5">Chômage</li>
                    <li data-value="6">Exclusion sociale</li>
                    <li data-value="17">Logement</li>
                </ul>
                <div id="pie6"></div>
                <h2>Le totale correspond à 665 millions de francs</h2>
            </div>
        </figure>
    </section>
</section>

    <p>De 1997 à 2010, les dépenses des organisations sans but lucratif ont évolué. L’Office Fédéral de la Statistique (OFS) compare les années 1997, 2004 et 2010.</p>
</section>

<section class="portrait">
    <img src="{{ asset('images/Comparaisondesdepenses.JPG') }}" alt="Comparaisons des dépenses des osbl" />
</section>

<section class="tcol">
    <p>Les dépenses totales ont presque doublé en 13 ans. Paradoxalement, la part des dépenses des prestations sociales a diminué. En 1997 elles représentaient 77% des dépenses, en 2010 elles sont de 57%. La répartition des prestations a également évolué. En 2010, l’aide pour les personnes au chômage était de 3%, soit 4 fois moins qu’en 1997. L’aide pour les personnes âgées a également baissé, passant de 23% à 9%. Inversement, la part des prestations sociales destinée au secteur maladie/soins de santé a triplé : 4% en 1997 contre 12% en 2010.</p>
</section>

<section class="portrait">
        <h2>La Confédération définit la pauvreté comme étant la précarité financière de la manière suivante :</h2>
        <p class="answer">“D’une manière générale, la pauvreté peut être définie comme une insuffisance de ressources (matérielles, culturelles et sociales) telle que les personnes sont exclues du niveau de vie minimal reconnu comme acceptable dans le pays où elles vivent. On définit généralement la pauvreté en termes monétaires.”</p>
    </section>


<!--

 <section class="graphs">
        <figure>
            <div class="row">
                <ul data-pie-id="pie1">
                    <li data-value="32">Test d'un texte beaucoup trop long</li>
                    <li data-value="50">Test d'un texte beaucoup trop long</li>
                    <li data-value="32">Test d'un texte beaucoup trop long</li>
                    <li data-value="50">Test d'un texte beaucoup trop long</li>
                </ul>
                <div id="pie1"></div>
            </div>
        </figure>

        <figure>
            <div class="row">
                <ul data-pie-id="pie2">
                    <li data-value="32">Test d'un texte beaucoup trop long</li>
                    <li data-value="50">Test d'un texte beaucoup trop long</li>
                    <li data-value="32">Test d'un texte beaucoup trop long</li>
                    <li data-value="50">Test d'un texte beaucoup trop long</li>
                </ul>
                <div id="pie2"></div>
            </div>
        </figure>
    </section>

    <section class="graph">
        <figure>
            <div class="row">
                <ul data-pie-id="pie3">
                    <li data-value="92.9">Prestations sociales</li>
                    <li data-value="5.3">Dépenses de fonctionnement</li>
                    <li data-value="1.8">Autres dépenses</li>
                </ul>
                <div id="pie3"></div>
            </div>
        </figure>
    </section>-->

{% endblock %}