{% extends "::layout.html.twig" %}

{% block content %}
    
    <section class="top">     
        
        <header class="about">
            <h1><span>A propos</span></h1>
            <p>Le cours “Newsroom” est proposé chaque année aux étudiants de troisième année de la filière ingénierie des médias comem+ de la HEIG-VD. Dans ce projet, la classe doit traiter une thématique donnée dans une période de dix jours. Le but étant de produire un site internet ainsi qu’une publication du genre magazine/journal. Le thème proposé cette année est “la précarité”. Pour la première fois, il a été traité exclusivement sur le web.</p>
        </header>
            <p>Confrontée à ce thème, notre classe s’est d’abord montrée plutôt hésitante. Le sujet nous semblait délicat à aborder, surtout dans un laps de temps restreint.</p>
            <p>Une visite chez le documentariste Fernand Melgar nous a permis de cerner une approche de la précarité : les sans-abris, catégorie de la population peu assumée en Suisse.</p>
            <p>Accepter la précarité qui nous entoure et le fait qu'elle puisse nous toucher personnellement a dynamisé à la discussion. Après réflexion, chacun a réalisé qu'il connaissait des personnes vivant dans une situation précaire. Il faut se rappeler que la précarité n'est pas seulement économique, elle peut également être relationnelle, psychologique, affective ou même volontaire.</p>
            <p>Renoncer à nos préjugés nous a permis d’approcher les gens avec un esprit ouvert et un vrai intérêt pour leur situation et leur personne.</p>
            <p>Ce site présente un condensé de ce qu'une variété de gens ont été prêts à partager avec vous. Dans un pays en apparence peu concerné par la précarité, il faut du courage pour s'exprimer.</p>
<p class="signature">Jonas Oesch</br>
Chef de projet
</p>

    
    <h2>Remerciements</h2>
        <p>Nous souhaitons d'abord remercier les personnes qui ont partagé leur histoire et leur situation avec nous. Sans leur courage, il n’y aurait rien à raconter.</p>
            <p>Aussi, nous remercions Monsieur Fernand Melgar qui nous a donné des idées pour aborder un thème délicat et pas facile à traiter.</p>
            <p>Finalement, nous remercions Françoise Châtelain, Yves Germanier, Patrick Morier-Genoud et Pierre Rouyer pour leur coaching, leur disponibilité et inputs considérables.</p>

            <p><img src="{{ asset('images/Selfie-1.jpg') }}" alt="Photo de groupe" width="100%" /></p>  

        
    </section>
    
    <section class="bottom">
            
    </section>
    
{% endblock %}
