{% extends "::home.html.twig" %}

{% block content_home %}

    <section class="twothird">
        <section class="left"><p>contenu home</p></section>
        <section class="right">
            <h1>Annuaire</h1>
            <input id="search" type="text" />
            <section id="results">
            </section>
        </section>
    </section>

{% endblock %}