{% extends "::layout.html.twig" %}

{% block content %}
    
    {% block content_home %}
    {% endblock %}    
    
{% endblock %}

            {% block footer %}
            	<section class="footer_home">
            		<h1><span>Precarite.ch</span></h1>
	            	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent pulvinar, libero eget rutrum aliquet, odio ipsum placerat nisl, in pulvinar arcu quam ac urna. Nam quis ipsum at tortor aliquam feugiat. Nam porttitor pretium erat at tincidunt. Nunc suscipit non mi eget posuere. Nulla dictum eros vitae porttitor volutpat. </p>
            	</section>
            	{{parent()}}
            {% endblock %}
