{% extends "::layout.html.twig" %}

{% block content %}
    
    {% block content_home %}
    {% endblock %}    
    
    <footer>
        <a href="http://www.comem.ch">comem+</a>
        <a href="{{ path('comem_newsroom_directory') }}">Annuaire</a>
    </footer>
    
{% endblock %}
