{% extends "::layout.html.twig" %}

{% block content %}
    
    {% block content_home %}
    {% endblock %}    
    
{% endblock %}

            {% block footer %}
            	<section class="footer_home">
	            	<p>La vie est belle!</p>
	            	{{parent()}}
            	</section>
            {% endblock %}
