{% extends "::layout.html.twig" %}

{% block content %}
    
    {% block content_home %}
    {% endblock %}    
    
{% endblock %}

            {% block footer %}
            	<section class="footer_home">
            		 	<ul>
	            		 	<li>Chef de projet : Jonas Oesch</li>
							<li>Adjointe du chef : Louisa Freymond</li>
							<li>Communication : Christophe Merkle</li>
							<li>Web : Yoann Gern</li>
							<li>Graphisme : Frédéric Montet</li>
							<li>Photo : Mickael Justo</li>
							<li>Annuaire : Flavien Knuchel</li>
						</ul>
            	</section>
            	{{parent()}}
            {% endblock %}
