<!DOCTYPE html>
<html lang="fr">
    <head>
	<meta charset="utf-8">
        <title>{% block title %}Newsroom{% endblock %}</title>
        <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
        <link rel="icon" type="image/png" href="images/favicon.png" />
        
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css" />
        {% endblock %}
        
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('js/jquery-1.11.0.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/app.js') }}"></script>
        {% endblock %}
        
    </head>
    <body>
        <section id="container">
            
            <header>
                <nav>
                    <ul>
                        <li>Alimentation</li>
                        <li>Hygiène</li>
                        <li>Transports</li>
                        <li>Logement</li>
                        <li>Relations sociales</li>
                        <li>Santé</li>
                        <li>Vêtements</li>
                    </ul>
                </nav>
            </header>
            
            <section id="content">
                <header>
                    <h1>Titre</h1>
                </header>
                {% block body %}{% endblock %}
                
                <article id="help">
                    <h1>Les aides</h1>
                    
                    <section>
                        <h1>Emmaus</h1>
                        <p>blablabla</p>
                        <p>www.emmaus.ch</p>
                    </section>
                </article>
            </section>
            
        </section>
    </body>
</html>
