{% extends "::layout.html.twig" %}

{% block content %}
    
    <section class="top">
    
        <div id="topBg"></div>
    
        <section class="stats">
            {% block stats %}{% endblock %}
        </section>
         
        <header>
            {% block lead %}{% endblock %}
            
        </header>
        
        {% block article_top %}{% endblock %}
    
    </section>
    
    <section class="bottom">
        {% block article_bottom %}{% endblock %}
        
    </section>
    
{% endblock %}
