/* RESET */
html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, fieldset, input, abbr, article, aside, command, details, figcaption, figure, footer, header, hgroup, mark, meter, nav, output, progress, section, summary, time {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, pre, code, address, caption, cite, code, em, strong, th, figcaption {
  font-size: 1em;
  font-weight: normal;
  font-style: normal; }

fieldset, iframe {
  border: none; }

caption, th {
  text-align: left; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

article, aside, footer, header, hgroup, nav, section, figure, figcaption {
  display: block; }

@font-face {
  font-family: 'dejavu_serifcondensed';
  src: url("../fonts/DejaVuSerifCondensed-Italic-webfont.eot");
  src: url("../fonts/DejaVuSerifCondensed-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/DejaVuSerifCondensed-Italic-webfont.woff") format("woff"), url("../fonts/DejaVuSerifCondensed-Italic-webfont.ttf") format("truetype"), url("../fonts/DejaVuSerifCondensed-Italic-webfont.svg#dejavu_serifcondensed") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'dejavu_sansbold';
  src: url("../fonts/DejaVuSans-Bold-webfont.eot");
  src: url("../fonts/DejaVuSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/DejaVuSans-Bold-webfont.woff") format("woff"), url("../fonts/DejaVuSans-Bold-webfont.ttf") format("truetype"), url("../fonts/DejaVuSans-Bold-webfont.svg#dejavu_sansbold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'dejavu_sansbook';
  src: url("../fonts/DejaVuSans-webfont.eot");
  src: url("../fonts/DejaVuSans-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/DejaVuSans-webfont.woff") format("woff"), url("../fonts/DejaVuSans-webfont.ttf") format("truetype"), url("../fonts/DejaVuSans-webfont.svg#dejavu_sansbook") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'dejavu_serifCnBdIt';
  src: url("../fonts/DejaVuSerifCondensed-BoldItalic-webfont.eot");
  src: url("../fonts/DejaVuSerifCondensed-BoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/DejaVuSerifCondensed-BoldItalic-webfont.woff") format("woff"), url("../fonts/DejaVuSerifCondensed-BoldItalic-webfont.ttf") format("truetype"), url("../fonts/DejaVuSerifCondensed-BoldItalic-webfont.svg#dejavu_serifCnBdIt") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'gentium_basicregular';
  src: url("../fonts/genbasr-webfont.eot");
  src: url("../fonts/genbasr-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/genbasr-webfont.woff") format("woff"), url("../fonts/genbasr-webfont.ttf") format("truetype"), url("../fonts/genbasr-webfont.svg#gentium_basicregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'gentium_basicitalic';
  src: url("../fonts/genbasi-webfont.eot");
  src: url("../fonts/genbasi-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/genbasi-webfont.woff") format("woff"), url("../fonts/genbasi-webfont.ttf") format("truetype"), url("../fonts/genbasi-webfont.svg#gentium_basicitalic") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: "gentium_basicregular", helvetica, sans-serif;
  background: white; }
  body > header {
    background: #652d2a;
    max-width: 1280px;
    width: 100%;
    min-width: 960px;
    margin: 0 auto;
    height: 50px;
    z-index: 100;
    overflow: hidden; }
    body > header nav {
      width: 960px;
      margin: 0 auto; }
      body > header nav ul {
        margin: 0 auto;
        text-align: center;
        position: static; }
        body > header nav ul li {
          display: inline-block;
          padding: 10px 10px; }
          body > header nav ul li a {
            color: white;
            font-family: "dejavu_sansbook", helvetica, sans-serif;
            text-decoration: none;
            font-size: 1.05em; }
            body > header nav ul li a.actif {
              color: #1a1a1a; }
  body > article {
    width: 960px;
    margin: 0 auto; }
    body > article section.top {
      z-index: 100;
      min-width: 960px; }
      body > article section.top #topBg {
        height: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        width: 100%;
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: -5;
        min-width: 960px;
        overflow: auto; }
      body > article section.top section.stats {
        font-family: "gentium_basicitalic", helvetica, sans-serif;
        font-size: 1.55em;
        color: #652d2a;
        margin: 30px 20px 30px 0px;
        position: relative;
        top: 5%;
        width: 480px;
        float: right;
        text-align: right; }
      body > article section.top header {
        margin: 100px 0 0 0;
        position: absolute;
        top: 12%;
        width: 960px; }
        body > article section.top header h1 {
          font-family: "dejavu_serifcondensed", times, serif;
          font-size: 3.5em;
          color: #652d2a; }
      body > article section.top section {
        position: absolute;
        top: 60%;
        width: 960px; }
    body > article section.bottom {
      position: absolute;
      width: 960px;
      top: 100%;
      margin-top: 30px; }
      body > article section.bottom > footer {
        text-align: center;
        padding-bottom: 10px;
        position: static;
        bottom: 0px; }
        body > article section.bottom > footer a {
          padding: 5px;
          display: inline-block; }
      body > article section.bottom p {
        padding: 15px;
        text-align: left; }
      body > article section.bottom #help {
        background: #652d2a;
        padding-bottom: 20px; }
        body > article section.bottom #help > h1 {
          font-size: 2em;
          padding: 5px 0px 5px 20px; }
        body > article section.bottom #help section {
          display: inline-block;
          width: 300px;
          height: 150px;
          background: green;
          margin: 10px; }

#main > h1 {
  font-size: 2em;
  text-align: center; }
#main form {
  padding-left: 20px; }
  #main form h2 {
    padding-top: 10px;
    font-family: "Helvetica-Bold", "helvetica", sans-serif; }
  #main form input,
  #main form textarea,
  #main form select {
    border: 1px solid #1a1a1a;
    line-height: 1.3em;
    font-size: 1.3em;
    width: 300px;
    padding: 3px; }
  #main form input[type=submit] {
    width: auto;
    background: none;
    display: block;
    margin-top: 20px;
    cursor: pointer;
    padding: 0px 3px;
    font-family: "helvetica", sans-serif; }
  #main form input[type=checkbox] {
    width: initial;
    display: inline-block;
    margin-top: 10px; }
  #main form label {
    display: block;
    padding-left: 20px;
    margin-top: -28px;
    font-size: 1.4em; }
#main > a.ad {
  margin: 20px;
  display: block;
  border: 1px solid #1a1a1a;
  color: #1a1a1a;
  text-decoration: none; }
  #main > a.ad h1 {
    padding: 5px;
    font-size: 1.3em; }
  #main > a.ad p {
    padding: 0 0 0 5px !important; }
