@charset "UTF-8";
/* RESET */
html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, fieldset, input, abbr, article, aside, command, details, figcaption, figure, footer, header, hgroup, mark, meter, nav, output, progress, section, summary, time {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, pre, code, address, caption, cite, code, em, strong, th, figcaption {
  font-size: 1em;
  font-weight: normal;
  font-style: normal; }

fieldset, iframe {
  border: none; }

caption, th {
  text-align: left; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

article, aside, footer, header, hgroup, nav, section, figure, figcaption {
  display: block; }

@font-face {
  font-family: 'dejavu_serifcondensed';
  src: url("../fonts/DejaVuSerifCondensed-Italic-webfont.eot");
  src: url("../fonts/DejaVuSerifCondensed-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/DejaVuSerifCondensed-Italic-webfont.woff") format("woff"), url("../fonts/DejaVuSerifCondensed-Italic-webfont.ttf") format("truetype"), url("../fonts/DejaVuSerifCondensed-Italic-webfont.svg#dejavu_serifcondensed") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'gentium_basicbold';
  src: url("../fonts/genbasb-webfont.eot");
  src: url("../fonts/genbasb-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/genbasb-webfont.woff") format("woff"), url("../fonts/genbasb-webfont.ttf") format("truetype"), url("../fonts/genbasb-webfont.svg#gentium_basicbold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'dejavu_sansbold';
  src: url("../fonts/DejaVuSans-Bold-webfont.eot");
  src: url("../fonts/DejaVuSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/DejaVuSans-Bold-webfont.woff") format("woff"), url("../fonts/DejaVuSans-Bold-webfont.ttf") format("truetype"), url("../fonts/DejaVuSans-Bold-webfont.svg#dejavu_sansbold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'dejavu_sansbook';
  src: url("../fonts/DejaVuSans-webfont.eot");
  src: url("../fonts/DejaVuSans-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/DejaVuSans-webfont.woff") format("woff"), url("../fonts/DejaVuSans-webfont.ttf") format("truetype"), url("../fonts/DejaVuSans-webfont.svg#dejavu_sansbook") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'dejavu_serifCnBdIt';
  src: url("../fonts/DejaVuSerifCondensed-BoldItalic-webfont.eot");
  src: url("../fonts/DejaVuSerifCondensed-BoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/DejaVuSerifCondensed-BoldItalic-webfont.woff") format("woff"), url("../fonts/DejaVuSerifCondensed-BoldItalic-webfont.ttf") format("truetype"), url("../fonts/DejaVuSerifCondensed-BoldItalic-webfont.svg#dejavu_serifCnBdIt") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'gentium_basicregular';
  src: url("../fonts/genbasr-webfont.eot");
  src: url("../fonts/genbasr-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/genbasr-webfont.woff") format("woff"), url("../fonts/genbasr-webfont.ttf") format("truetype"), url("../fonts/genbasr-webfont.svg#gentium_basicregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'gentium_basicitalic';
  src: url("../fonts/genbasi-webfont.eot");
  src: url("../fonts/genbasi-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/genbasi-webfont.woff") format("woff"), url("../fonts/genbasi-webfont.ttf") format("truetype"), url("../fonts/genbasi-webfont.svg#gentium_basicitalic") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: "gentium_basicregular", helvetica, sans-serif;
  font-size: 16px; }
  body #background {
    height: 100%;
    background-repeat: repeat;
    background-image: url("../images/lightpaperfibers.png");
    width: 100%;
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -5;
    min-width: 960px; }
  body p,
  body td {
    font-size: 1.3em;
    line-height: 1.25em; }
  body > header {
    background: #652d2a;
    max-width: 1280px;
    width: 100%;
    min-width: 960px;
    margin: 0 auto;
    height: 50px;
    z-index: 100;
    overflow: hidden; }
    body > header nav {
      width: 960px;
      margin: 0 auto; }
      body > header nav ul {
        margin: 0 auto;
        text-align: center;
        position: static; }
        body > header nav ul li {
          display: inline-block;
          padding: 10px 10px; }
          body > header nav ul li a {
            color: white;
            font-family: "dejavu_sansbook", helvetica, sans-serif;
            text-decoration: none;
            font-size: 1.05em; }
            body > header nav ul li a.actif {
              color: #1a1a1a; }
  body > article {
    width: 960px;
    margin: 0 auto; }
    @media only screen and (max-height: 600px) {
      body > article#main section.top #topBg {
        height: 600px; }
      body > article#main section.top .stats {
        position: relative;
        margin-top: 30px;
        margin-bottom: 0px; }
      body > article#main section.top header {
        position: relative;
        margin-top: 0px;
        margin-bottom: 50px; }
      body > article#main section.bottom {
        top: 600px; } }
    body > article section.top {
      z-index: 100;
      min-width: 960px;
      display: block; }
      body > article section.top section.stats {
        font-family: "gentium_basicitalic", helvetica, sans-serif;
        font-size: 1.55em;
        color: #652d2a;
        margin: 30px 20px 30px 0px;
        position: relative;
        top: 5%;
        width: 480px;
        float: right;
        text-align: right;
        display: inline-block; }
        body > article section.top section.stats p {
          display: inline-block;
          width: 365px;
          height: auto;
          line-height: 1em; }
        body > article section.top section.stats figure {
          width: 100px;
          height: 100px;
          display: inline-block;
          margin-left: 8px; }
          body > article section.top section.stats figure img {
            width: 100%; }
      body > article section.top header {
        margin: 100px 0 0 0;
        position: absolute;
        top: 12%;
        width: 960px;
        border-bottom: 3px solid #652d2a;
        padding-bottom: 20px; }
        body > article section.top header h1 {
          text-align: left;
          overflow: hidden;
          width: 960px;
          font-family: "dejavu_serifcondensed", times, serif;
          font-size: 3.5em;
          color: #652d2a; }
        body > article section.top header span {
          display: inline-block;
          position: relative; }
          body > article section.top header span:after {
            border-top: 3px solid #652d2a;
            display: block;
            height: 3px;
            content: "";
            width: 960px;
            position: absolute;
            top: 1.2em; }
          body > article section.top header span:after {
            margin-left: 10px;
            left: 100%; }
        body > article section.top header p {
          font-family: "gentium_basicitalic", helvetica, sans-serif;
          font-size: 2em; }
      body > article section.top section {
        position: absolute;
        top: 60%;
        width: 960px; }
    body > article section.bottom {
      position: absolute;
      width: 960px;
      top: 80%;
      margin-top: 30px; }
      body > article section.bottom > section {
        margin-top: 3em; }
      body > article section.bottom:first-child {
        margin-top: 0; }
      body > article section.bottom > footer {
        text-align: center;
        padding-bottom: 10px;
        position: static;
        bottom: 0px; }
        body > article section.bottom > footer a {
          padding: 5px;
          display: inline-block; }
      body > article section.bottom p {
        padding: 1em 0;
        text-align: left; }
      body > article section.bottom #help {
        background-color: #c87e7a;
        padding-bottom: 20px;
        display: block;
        width: 960px; }
        body > article section.bottom #help > h1 {
          font-size: 2em;
          padding: 5px 0px 5px 20px; }
        body > article section.bottom #help section {
          display: inline-block;
          width: 300px;
          height: 150px;
          margin: 10px; }
    body > article > footer {
      display: block;
      text-align: center;
      border-top: 3px solid #652d2a;
      margin-top: 50px; }
      body > article > footer a {
        padding: 10px;
        color: #652d2a;
        font-size: 1.2em;
        font-family: "gentium_basicbold", times, serif;
        text-decoration: none; }

section.tcol > h1 {
  font-family: "dejavu_serifCnBdIt", times, serif;
  font-size: 2em; }
section.tcol p {
  -webkit-columns: 3;
  -moz-columns: 3;
  columns: 3; }

section.quote {
  text-align: center;
  width: 960px;
  overflow: hidden; }
  section.quote quote {
    display: inline-block;
    position: relative;
    color: #652d2a;
    font-size: 2em;
    margin: 0 0.5%;
    text-align: center;
    line-height: 1.5em; }
    section.quote quote:before, section.quote quote:after {
      border-top: 3px solid #652d2a;
      display: inline-block;
      height: 1px;
      content: " ";
      width: 960px;
      position: absolute;
      top: 50%; }
    section.quote quote:after {
      left: 100%;
      margin-left: 15px; }
    section.quote quote:before {
      right: 100%;
      margin-right: 15px; }
    section.quote quote p {
      position: relative;
      display: inline; }
      section.quote quote p span {
        display: block;
        text-align: center; }
        section.quote quote p span:first-of-type:before {
          content: "« ";
          font-family: "gentium_basicregular", helvetica, sans-serif; }
        section.quote quote p span:last-of-type:after {
          content: " »";
          font-family: "gentium_basicregular", helvetica, sans-serif; }

section.twothird > section {
  display: inline-block; }
  section.twothird > section.left {
    width: 68%; }
    section.twothird > section.left img {
      margin: 0;
      width: 100%;
      margin-bottom: -10px; }
  section.twothird > section.right {
    width: 28%;
    margin-left: 2%; }
    section.twothird > section.right quote.small {
      font-family: "gentium_basicitalic", helvetica, sans-serif;
      font-size: 2em;
      padding-bottom: 30px;
      display: block; }
      section.twothird > section.right quote.small:before {
        content: "« ";
        font-family: "gentium_basicitalic", helvetica, sans-serif; }
      section.twothird > section.right quote.small:after {
        content: " »";
        font-family: "gentium_basicitalic", helvetica, sans-serif; }
    section.twothird > section.right span.name {
      text-transform: uppercase;
      padding-top: 30px;
      display: block; }

section.portrait > h1 {
  font-family: "dejavu_serifCnBdIt", times, serif;
  font-size: 2.5em; }
section.portrait > h2 {
  font-size: 2.4em;
  margin-top: -15px;
  margin-bottom: 15px; }
section.portrait > img {
  width: 100%; }
section.portrait > section.question {
  margin-top: 50px; }
  section.portrait > section.question h3 {
    color: #652d2a;
    font-family: "gentium_basicbold", times, serif;
    font-size: 1.5em; }
  section.portrait > section.question p {
    font-family: "gentium_basicitalic", helvetica, sans-serif;
    font-size: 1.5em;
    padding: 0; }
section.portrait > table {
  margin-top: 30px;
  width: 60%; }
section.portrait > footer {
  margin-top: 30px;
  font-size: 1.3em;
  line-height: 1.25em; }
  section.portrait > footer:before {
    content: "*"; }

section.smalltalks {
  width: 960px;
  overflow: hidden;
  border-bottom: 3px solid #652d2a; }
  section.smalltalks h1 {
    font-family: "dejavu_serifcondensed", times, serif;
    font-size: 3.5em;
    color: #652d2a;
    display: inline-block; }
    section.smalltalks h1 span {
      display: inline-block;
      position: relative; }
      section.smalltalks h1 span:after {
        border-top: 3px solid #652d2a;
        display: block;
        height: 3px;
        content: "";
        width: 960px;
        position: absolute;
        top: 1.2em; }
      section.smalltalks h1 span:after {
        margin-left: 10px;
        left: 100%; }
  section.smalltalks p {
    -webkit-columns: 3;
    -moz-columns: 3;
    columns: 3; }

#main {
  overflow: hidden;
  padding-bottom: 40px; }
  #main > h1 {
    font-size: 3em;
    font-family: "dejavu_serifcondensed", times, serif;
    color: #652d2a;
    padding: 5px; }
    #main > h1 span {
      display: inline-block;
      position: relative; }
      #main > h1 span:after {
        border-top: 3px solid #652d2a;
        display: block;
        height: 3px;
        content: "";
        width: 960px;
        position: absolute;
        top: 1.2em; }
      #main > h1 span:after {
        margin-left: 10px;
        left: 100%; }
  #main nav {
    display: block;
    text-align: center; }
    #main nav a {
      color: #652d2a;
      text-decoration: none;
      font-size: 1.3em;
      font-family: "gentium_basicbold", times, serif;
      padding: 10px;
      text-align: center;
      display: inline-block; }
  #main form {
    padding-left: 20px; }
    #main form h2 {
      padding-top: 10px;
      font-family: "dejavu_serifCnBdIt", times, serif; }
    #main form input,
    #main form textarea,
    #main form select {
      border: 1px solid #652d2a;
      line-height: 1.3em;
      font-size: 1.3em;
      width: 300px;
      padding: 3px; }
    #main form input[type=submit] {
      width: auto;
      background: none;
      display: block;
      margin-top: 20px;
      cursor: pointer;
      padding: 0px 3px;
      font-family: "gentium_basicregular", helvetica, sans-serif; }
    #main form input[type=checkbox] {
      width: initial;
      display: inline-block;
      margin-top: 10px; }
    #main form label {
      display: block;
      padding-left: 20px;
      margin-top: -28px;
      font-size: 1.4em; }
  #main > a.ad {
    margin: 20px;
    display: block;
    border: 1px solid #652d2a;
    color: #1a1a1a;
    text-decoration: none;
    padding: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px; }
    #main > a.ad h1 {
      padding: 5px;
      font-size: 1.3em;
      font-family: "gentium_basicbold", times, serif;
      color: #652d2a; }
    #main > a.ad p {
      padding: 0 0 0 5px !important; }
      #main > a.ad p.theme span {
        display: inline-block;
        padding: 1px 5px;
        border: 1px solid #652d2a;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        border-radius: 3px; }
