/* RESET */
html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, fieldset, input, abbr, article, aside, command, details, figcaption, figure, footer, header, hgroup, mark, meter, nav, output, progress, section, summary, time {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, pre, code, address, caption, cite, code, em, strong, th, figcaption {
  font-size: 1em;
  font-weight: normal;
  font-style: normal; }

fieldset, iframe {
  border: none; }

caption, th {
  text-align: left; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

article, aside, footer, header, hgroup, nav, section, figure, figcaption {
  display: block; }

@font-face {
  font-family: 'dejavu_serifcondensed';
  src: url("../fonts/DejaVuSerifCondensed-Italic-webfont.eot");
  src: url("../fonts/DejaVuSerifCondensed-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/DejaVuSerifCondensed-Italic-webfont.woff") format("woff"), url("../fonts/DejaVuSerifCondensed-Italic-webfont.ttf") format("truetype"), url("../fonts/DejaVuSerifCondensed-Italic-webfont.svg#dejavu_serifcondensed") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'dejavu_sansbold';
  src: url("../fonts/DejaVuSans-Bold-webfont.eot");
  src: url("../fonts/DejaVuSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/DejaVuSans-Bold-webfont.woff") format("woff"), url("../fonts/DejaVuSans-Bold-webfont.ttf") format("truetype"), url("../fonts/DejaVuSans-Bold-webfont.svg#dejavu_sansbold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'dejavu_sansbook';
  src: url("../fonts/DejaVuSans-webfont.eot");
  src: url("../fonts/DejaVuSans-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/DejaVuSans-webfont.woff") format("woff"), url("../fonts/DejaVuSans-webfont.ttf") format("truetype"), url("../fonts/DejaVuSans-webfont.svg#dejavu_sansbook") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'dejavu_serifCnBdIt';
  src: url("../fonts/DejaVuSerifCondensed-BoldItalic-webfont.eot");
  src: url("../fonts/DejaVuSerifCondensed-BoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/DejaVuSerifCondensed-BoldItalic-webfont.woff") format("woff"), url("../fonts/DejaVuSerifCondensed-BoldItalic-webfont.ttf") format("truetype"), url("../fonts/DejaVuSerifCondensed-BoldItalic-webfont.svg#dejavu_serifCnBdIt") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'gentium_basicregular';
  src: url("../fonts/genbasr-webfont.eot");
  src: url("../fonts/genbasr-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/genbasr-webfont.woff") format("woff"), url("../fonts/genbasr-webfont.ttf") format("truetype"), url("../fonts/genbasr-webfont.svg#gentium_basicregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'gentium_basicitalic';
  src: url("../fonts/genbasi-webfont.eot");
  src: url("../fonts/genbasi-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/genbasi-webfont.woff") format("woff"), url("../fonts/genbasi-webfont.ttf") format("truetype"), url("../fonts/genbasi-webfont.svg#gentium_basicitalic") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: "gentium_basicregular", helvetica, sans-serif;
  font-size: 16px;
  background: white; }
  body > header {
    background: #652d2a;
    max-width: 1280px;
    width: 100%;
    min-width: 960px;
    margin: 0 auto;
    height: 50px;
    z-index: 100;
    overflow: hidden; }
    body > header nav {
      width: 960px;
      margin: 0 auto; }
      body > header nav ul {
        margin: 0 auto;
        text-align: center;
        position: static; }
        body > header nav ul li {
          display: inline-block;
          padding: 10px 10px; }
          body > header nav ul li a {
            color: white;
            font-family: "dejavu_sansbook", helvetica, sans-serif;
            text-decoration: none;
            font-size: 1.05em; }
            body > header nav ul li a.actif {
              color: #1a1a1a; }
  body > article {
    width: 960px;
    margin: 0 auto; }
    body > article section.top {
      z-index: 100;
      min-width: 960px; }
      body > article section.top #topBg {
        height: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        width: 100%;
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: -5;
        min-width: 960px;
        overflow: auto; }
      body > article section.top section.stats {
        font-family: "gentium_basicitalic", helvetica, sans-serif;
        font-size: 1.55em;
        color: #652d2a;
        margin: 30px 20px 30px 0px;
        position: relative;
        top: 5%;
        width: 480px;
        float: right;
        text-align: right; }
      body > article section.top header {
        margin: 100px 0 0 0;
        position: absolute;
        top: 12%;
        width: 960px; }
        body > article section.top header h1 {
          font-family: "dejavu_serifcondensed", times, serif;
          font-size: 3.5em;
          color: #652d2a; }
      body > article section.top section {
        position: absolute;
        top: 60%;
        width: 960px; }
    body > article section.bottom {
      position: absolute;
      width: 960px;
      top: 100%;
      margin-top: 30px; }
<<<<<<< HEAD
      body > article section.bottom > section {
=======
      body > article section.bottom section {
>>>>>>> 5b3a1921843049eee7a8195d69f430e7dddb3111
        margin-top: 2em; }
      body > article section.bottom:first-child {
        margin-top: 0; }
      body > article section.bottom > footer {
        text-align: center;
        padding-bottom: 10px;
        position: static;
        bottom: 0px; }
        body > article section.bottom > footer a {
          padding: 5px;
          display: inline-block; }
      body > article section.bottom p {
        padding: 1em 0;
        text-align: left; }
      body > article section.bottom #help {
        background: #652d2a;
        padding-bottom: 20px; }
        body > article section.bottom #help > h1 {
          font-size: 2em;
          padding: 5px 0px 5px 20px; }
        body > article section.bottom #help section {
          display: inline-block;
          width: 300px;
          height: 150px;
          background: green;
          margin: 10px; }

section.tcol > h1 {
  font-family: "dejavu_serifCnBdIt", times, serif;
  font-size: 2em; }
section.tcol p {
  -webkit-columns: 3;
  -moz-columns: 3;
  columns: 3; }

<<<<<<< HEAD
.hr, section.quote > div.hr, section.smalltalks div.hr {
  display: inline-block;
  height: 4px;
  background-color: #652d2a; }

section.quote {
  clear: both; }
  section.quote > div.hr {
    width: 20%;
=======
section.quote {
  clear: both; }
  section.quote > .hr {
    display: inline-block;
    height: 2px;
    background-color: #652d2a;
    width: 192px;
>>>>>>> 5b3a1921843049eee7a8195d69f430e7dddb3111
    position: relative;
    top: -33%; }
  section.quote quote.big {
    color: #652d2a;
<<<<<<< HEAD
    font-size: 2em;
    width: 58%;
    margin: 0 0.5%;
    display: inline-block;
    text-align: center;
    line-height: 1.5em; }
=======
    font-size: 1.5em;
    width: 556.8px;
    display: inline-block;
    text-align: center;
    line-height: 1.2em; }
>>>>>>> 5b3a1921843049eee7a8195d69f430e7dddb3111
    section.quote quote.big:before {
      content: "<< ";
      font-family: "gentium_basicregular", helvetica, sans-serif; }
    section.quote quote.big:after {
      content: " >>";
      font-family: "gentium_basicregular", helvetica, sans-serif; }

<<<<<<< HEAD
section.twothird > section {
  display: inline-block; }
  section.twothird > section.left {
    width: 60% img;
      width-margin: 0;
      width-width: 100%; }
  section.twothird > section.right {
    width: 39%;
    margin-left: 1%; }
    section.twothird > section.right quote.small {
      font-family: "gentium_basicitalic", helvetica, sans-serif;
      font-size: 2em; }
      section.twothird > section.right quote.small:before {
        content: "<< ";
        font-family: "gentium_basicitalic", helvetica, sans-serif; }
      section.twothird > section.right quote.small:after {
        content: " >>";
        font-family: "gentium_basicitalic", helvetica, sans-serif; }
    section.twothird > section.right span.name {
      text-transform: uppercase; }

section.portrait > h1 {
  font-family: "dejavu_serifCnBdIt", times, serif;
  font-size: 2.5em; }
section.portrait > h2 {
  font-size: 2.4em; }
section.portrait > img {
  width: 100%; }
section.portrait > section.question {
  margin-top: 30px; }
  section.portrait > section.question h3 {
    color: #652d2a;
    font-weight: bold;
    font-size: 1.5em; }
  section.portrait > section.question p {
    font-family: "gentium_basicitalic", helvetica, sans-serif;
    font-size: 1.5em;
    padding-top: 0; }
section.portrait > footer {
  margin-top: 30px; }
  section.portrait > footer:before {
    content: "*"; }

section.smalltalks {
  border-bottom: 4px solid #652d2a; }
  section.smalltalks h1 {
    font-family: "dejavu_serifcondensed", times, serif;
    font-size: 3.5em;
    color: #652d2a;
    display: inline-block;
    width: 297.6px; }
  section.smalltalks div.hr {
    width: 652.8px; }
  section.smalltalks p {
    -webkit-columns: 3;
    -moz-columns: 3;
    columns: 3; }
=======
section.twothird > * {
  display: inline-block;
  margin: 0 1.5%; }
section.twothird img {
  float: left;
  margin: 0;
  width: 60%; }
section.twothird quote.small {
  margin-top: 100px;
  width: 37%;
  font-family: "gentium_basicitalic", helvetica, sans-serif;
  font-size: 1.5em; }
  section.twothird quote.small:before {
    content: "<< ";
    font-family: "gentium_basicitalic", helvetica, sans-serif; }
  section.twothird quote.small:after {
    content: " >>";
    font-family: "gentium_basicitalic", helvetica, sans-serif; }
section.twothird > p {
  margin-top: 30px;
  width: 37%; }
section.twothird span.name {
  text-transform: uppercase; }
>>>>>>> 5b3a1921843049eee7a8195d69f430e7dddb3111
