/* RESET */
html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, fieldset, input, abbr, article, aside, command, details, figcaption, figure, footer, header, hgroup, mark, meter, nav, output, progress, section, summary, time {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, pre, code, address, caption, cite, code, em, strong, th, figcaption {
  font-size: 1em;
  font-weight: normal;
  font-style: normal; }

fieldset, iframe {
  border: none; }

caption, th {
  text-align: left; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

article, aside, footer, header, hgroup, nav, section, figure, figcaption {
  display: block; }

body {
  font-family: "helvetica", sans-serif;
  background: white; }
  body > header {
    background: #7b1717;
    width: 1280px;
    margin: 0 auto; }
    body > header nav ul {
      margin: 0 auto;
      text-align: center;
      position: static; }
      body > header nav ul li {
        display: inline-block;
        padding: 15px 5px;
        color: white; }
        body > header nav ul li a {
          color: white;
          text-decoration: none; }
          body > header nav ul li a.actif {
            color: #ffd517; }
  body #container {
    width: 1024px;
    margin: 0 auto;
    background: white; }
    body #container #content {
      width: 960px; }
      body #container #content header {
        height: 140px; }
        body #container #content header h1 {
          font-family: "Helvetica-Light", "helvetica", sans-serif;
          font-size: 3em;
          padding: 40px 0px 40px 30px;
          text-transform: uppercase; }
      body #container #content #stats {
        background: red;
        width: 300px;
        height: 100px;
        float: right;
        margin-top: -120px; }
      body #container #content figure {
        width: 100%;
        position: relative; }
        body #container #content figure img {
          width: 100%; }
      body #container #content p {
        padding: 15px;
        text-align: justify; }
      body #container #content #help {
        background: blue;
        padding-bottom: 20px; }
        body #container #content #help > h1 {
          font-size: 2em;
          padding: 5px 0px 5px 20px; }
        body #container #content #help section {
          display: inline-block;
          width: 300px;
          height: 150px;
          background: green;
          margin: 10px; }
  body footer {
    text-align: center;
    padding-bottom: 10px; }
    body footer a {
      padding: 5px;
      display: inline-block; }
