{% extends "::theme.html.twig" %}

{% block stats %}

{% endblock %}

{% block lead %}
    <p>Se réveiller avec un bon café, un croissant et de la confiture. Ici c’est plutôt, un bout de pain sec, pas de beurre, et le café… soluble de préférence. Remplir son assiette tous les jours avec 20 francs par semaine, c’est un défi de taille. Du pasteur au grand cœur dans son épicerie à Moudon aux étudiantes débrouillardes, découvrez comment se nourrir suffisamment, même en famille.</p>
{% endblock %}

{% block article_top %}
<section class="quote">
        <quote class="big">
            <p>
                <span>La précarité n’est pas une fatalité,</span>
                <span>il faut être patient</span>
                <span>mais on peut s’en sortir !</span>
            </p>
        </quote>
    </section>
{% endblock %}

{% block article_bottom %}
    <section class="video">
        <iframe id="ytplayer" type="text/html" width="960" height="540" src="http://www.youtube.com/embed/BDVoO0SA5KI?autoplay=0&autohide=1&color=red&controls=1&iv_load_policy=3&modestbranding=1&theme=light&showinfo=0" frameborder="0"></iframe>
        
        <section class="tcol">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </section>
    </section>

<section class="video">
        <iframe id="ytplayer" type="text/html" width="960" height="540" src="http://www.youtube.com/embed/BDVoO0SA5KI?autoplay=0&autohide=1&color=red&controls=1&iv_load_policy=3&modestbranding=1&theme=light&showinfo=0" frameborder="0"></iframe>
        
        <section class="tcol">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </section>
    </section>
    
    <!--<section class="twothird">
        <section class="left">
            <img alt="" src="{{ asset('images/047.jpg') }}" />
        </section>
        <section class="right">
            <quote class="small">La vie avance, qu’importe de quoi sera fait demain.</quote>
            <p>Nunc augue tellus, egestas quis nulla a, viverra sagittis metus. Vestibulum pellentesque magna nec dolor condimentum malesuada. In vel orci rutrum nibh vehicula convallis. In hac habitasse platea dictumst. Proin sed lorem eu arcu bibendum ultricies non a magna. Aliquam in est eros.</p>
            <span class="name">Jean-Paul Delarue</span>
        </section>
    </section>
    
    <section class="tcol">
        <h1>Pourquoi est-ce ainsi?</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </section>-->
    
    <section class="quote">
        <quote class="big">
            <p>
                <span>La précarité n’est pas une fatalité,</span>
                <span>il faut être patient</span>
                <span>mais on peut s’en sortir !</span>
            </p>
        </quote>
    </section>

    <section class="portrait">
        <h1>Jan de Haas - Pasteur</h2>
        <h2>Epicerie du coeur </h2>
        <img src="{{ asset('images/BoutiqueCaritas-2.jpg') }}" alt="Sharon West Caritas Yverdon" /> 
        <section class="question">
            <h3 class="question">Sous quelle forme la précarité se manifeste-t-elle dans le cadre de votre travail ?</h3>
            <p class="answer">Je la rencontre tous les jours mais sous des aspects très différents. Il y a d’abord la précarité matérielle. Pour Moudon et sa région, il y a beaucoup de gens qui ont des difficultés matérielles. Ils viennent tous les jeudis à l’épicerie chercher de quoi manger. Puis en temps que pasteur, je rencontre aussi des personnes âgées seules, qui sont victimes de précarité affective ou sociale. Ce manque de contacts et de rencontres est un appauvrissement. On essaie donc d’ouvrir un volet sur cette population-là.</p>
            <p class="answer">Il y a aussi une précarité spirituelle, les gens sont en pétard avec l’Église. Ils ont beaucoup de questions.
</p>
        </section>
        <section class="question">
            <h3 class="question">Comment la vivez/expérimentez-vous ?</h3>
            <p class="answer">Là où je peux, j’essaie de changer les choses. Si on peut aider les gens, j’agis. J’expérimente aussi la précarité dans le constat. Notre monde n’est pas égalitaire. C’est de plus en plus dur pour les gens qui ont déjà peu. Ce que je peux faire dans ce cas c’est donner quittance, je peux dire “oui c’est vrai, ce n’est pas juste”.</p>
            <p class="answer">
Il y a des choses où on peut intervenir et d’autres où on peut juste constater.</p>
        </section>
        <section class="question">
            <h3 class="question">Comment l’épicerie du coeur peut aider les gens, comment fonctionnent-elle ?</h3>
            <p class="answer">Nous avons créé l’épicerie du coeur en 2006. Il y avait déjà les cartons du coeur, qui sont un dépannage, deux ou trois fois par année. Les gens peuvent venir chercher une grosse quantité de nourriture, c’est ponctuel.</p>
            <p class="answer">
L’épicerie est une fois par semaine pour deux jours de nourriture par bouche à nourrir car les gens sont de manière durable dans la précarité. Les gens peuvent venir comme ils veulent, il n’y a pas de contrôle.</p>
            <p class="answer">
On donne tout ce que l’on reçoit. C’est-à-dire de la nourriture deux fois par semaine de la part des tables suisses*. L’épicerie est gérée par des bénévoles et touche environ 150 familles avec 4,2 enfants par famille pour Moudon et sa région. Donc une famille sur 10, ce n’est pas rien.</p>
        </section>
        <section class="question">
            <h3 class="question">Quels conseils donnez-vous à quelqu’un ayant de la peine à trouver à manger ?
</h3>
            <p class="answer">- N’aies pas honte de demander. Beaucoup de gens viennent en s’excusant. Mais ce qui est anormal c’est que la société soit faite telle qu’ils doivent venir ici. En Suisse, il y a une certaine honte. Il y a des familles ou les deux parents travaillent, ne font pas de dépenses superficielles, vivent dans un petit trois pièces avec trois enfants, ne partent pas en vacances mais n’arrivent quand même pas s’en sortir.</p>
            <p class="answer">
- Ce n’est pas une fatalité, il faut être patient. Quelqu’un qui est dans cette précarité-là, on a tout pour dire que ça va mal mais souvent au bout de quelques années, il retrouve de l’élan. On peut s’en sortir, il ne faut pas désespérer mais être patient.</p>
        </section>
        
        <footer>Les tables suisses redistribuent la nourriture en trop des grands distributeurs aux institutions sociales.</footer>
    <table>
        <tbody>
        <tr>
            <td colspan="2">Epicerie du coeur</td>
        </tr>
        <tr>
            <td>Rue du Poyet 5</td>
            <td>Jeudi de 18h-20h</td>
        </tr>
        <tr>
            <td>1510 Moudon</td>
        </tr>
        </tbody>
    </table>   
    </section>

    <section class="quote">
        <quote class="big">
            <p>
                <span>Le weekend et les vacances c’est</span>
                <span>deux repas, un le matin et un le soir</span>
                <span>avec un goûter en plus !</span>
            </p>
        </quote>
    </section>


    
{% endblock %}