{% extends "::theme.html.twig" %}

{% block stats %}

{% endblock %}

{% block lead %}
    <p>Trouver des vêtements à un prix inférieur à celui du troisième démarquage de printemps, c’est comme chercher une aiguille dans une botte de foin. Pourtant, certains ont trouvé des solutions. Fouiller parmi les fripes chez Caritas, user les habits de l’aîné au cadet, ou troquer sa penderie contre celle d’un ami. Le shopping sur l’avenue de la précarité est présenté en long et large dans cette rubrique.</p>
{% endblock %}

{% block article_top %}

        <section class="quote">
        <quote class="big">
            <p>
                <span>8% de l’aide donnée par l'Association</span> 
                <span>“Secours d’Hiver”</span>
                <span>consiste à fournir des vêtements.</span>
                
            </p>
        </quote>
    </section>

{% endblock %}

{% block article_bottom %}
    <section class="quote">
        <quote class="big">
            <p>
                <span>Je fais du troc avec des amis.</span>
                <span>C'est intéressant car tu as l'impression</span>
                <span>d'avoir quelque chose de neuf</span>
                <span>alors que tu ne l'as pas payé.</span>
            </p>
        </quote>
    </section>
    <section class="video">
        <iframe id="ytplayer" type="text/html" width="960" height="540" src="http://www.youtube.com/embed/BDVoO0SA5KI?autoplay=0&autohide=1&color=red&controls=1&iv_load_policy=3&modestbranding=1&theme=light&showinfo=0" frameborder="0"></iframe>
            <section class="tcol">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </section>
</section>
    
    <section class="quote">
        <quote class="big">
            <p>
                <span>On me donne beaucoup d'habits.</span>
            </p>
        </quote>
    </section>

    <section class="video">
        <iframe id="ytplayer" type="text/html" width="960" height="540" src="http://www.youtube.com/embed/BDVoO0SA5KI?autoplay=0&autohide=1&color=red&controls=1&iv_load_policy=3&modestbranding=1&theme=light&showinfo=0" frameborder="0"></iframe>
            <section class="tcol">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </section>
</section>
    

            <section class="quote">
        <quote class="big">
            <p>
                <span>La précarité m’a aidé à comprendre</span>
                <span>la vie des autres. Beaucoup de personnes</span>
                <span> ont une vie différente, c’est ainsi que l’on</span>
                <span>comprend qu’on est très chanceux.</span>
            </p>
        </quote>
    </section>

    <section class="portrait">
        <h1>Sharon West</h1>
        <h2>Boutique Caritas Yverdon</h2>

        <img src="{{ asset('images/BoutiqueCaritas-2.jpg') }}" alt="Sharon West Caritas Yverdon" /> 
        <section class="question">
            <h3 class="question">Sous quelle forme la précarité se manifeste-t-elle dans le cadre de votre travail ?</h3>
            <p class="answer">Il y a beaucoup de personnes dans la précarité qui viennent à la boutique. Il y a des gens suisses, portugais, polonais, des personnes âgées, des étudiants, c’est pour tout le monde.
Elle est très fréquentée et énormément par les étrangers.
</p>
        </section>
        <section class="question">
            <h3 class="question">Comment la vivez/expérimentez-vous ?</h3>
            <p class="answer">Normalement, c’est un plaisir d’aider les gens, mais quelques fois c’est difficile. Par exemple, quand il y a des gens qui vivent dans la rue et qui demandent des habits gratuits. Mais normalement c’est pas un problème, j’aime beaucoup.</p>
        </section>
        <section class="question">
            <h3 class="question">Quels sont les problèmes auxquels vous êtes confrontée quotidiennement ?</h3>
            <p class="answer">Il y a des personnes qui volent des choses, c’est un petit problème. Ce n’est pas très grave, ça arrive juste quelques fois.</p>
        </section>
        <section class="question">
            <h3 class="question">Quels conseils donnez-vous à quelqu’un ayant de la peine à trouver des habits ?</h3>
            <p class="answer">Ce n’est pas des conseils, mais je peux aider les gens en leur donnant une CarteCulture Caritas*. Mais souvent ce sont des personnes seules, qui veulent quelqu’un pour parler. C’est quelque chose d’important pour eux. Ou, par exemple, parfois les personnes demandent si un habit leur va bien. Je fais beaucoup d’écoute. C’est possible d’aider ces personnes mais c’est déjà un bon début de les écouter.</p>
        </section>
        <section class="question">
            <h3 class="question">Comment la précarité influence-t-elle votre façon de travailler ?</h3>
            <p class="answer">Cela m’a aidé à comprendre la vie des autres. Beaucoup de personnes ont une vie différente, ils sont pauvres ou avec une grande famille et des difficultés. C’est ainsi que l’on comprend qu’on est très chanceux. J’ai de l’argent pour vivre, mais pour les autres c’est difficile. Tu vois vraiment la différence.</p>        
        <section class="question">
            <footer>*CarteCulture Caritas
Carte qui offre aux personnes défavorisées la possibilité de participer à la vie sociale et culturelle malgré leurs difficultés financières. Plus d’infos sur http://www.carteculture.ch/</footer>
            </section>
    <table>
        <tbody>
        <tr>
            <td colspan="2">CARITAS La Boutique</td>
        </tr>
        <tr>
            <td>Rue Maison-Rouge 11</td>
            <td>Lundi 13h30 - 18h</td>
          
        </tr>
        <tr>
            <td>1400 Yverdon</td>
            <td>Mardi à vendredi 9h-12 et 13h30-18h</td>
        </tr>
        <tr>
            <td>Tél. 024 426 34 61</td>
            <td>Samedi 9h-12h</td>
        </tr>
        </tbody>
    </table>   
    </section>
        
            <section class="quote">
        <quote class="big">
            <p>
                <span>Cela nous fait toujours</span>
                <span> un peu mal de penser</span>
                <span> qu’il y a des gens qui n’ont rien.</span>
            </p>
        </quote>
    </section>        
            <section class="portrait">
        <h1>Verena Yersin, Rose-Marie Dyens, Anne-Lise Gschwind</h1>
        <h2>SOS Futures Mamans Yverdon</h2>

        <img src="{{ asset('images/BoutiqueCaritas-2.jpg') }}" alt="Sharon West Caritas Yverdon" /> 
        <section class="question">
            <h3 class="question">Sous quelle forme la précarité se manifeste-t-elle dans le cadre de votre travail ?</h3>
            <p class="answer">C’est une question difficile. Ce sont souvent des gens qui viennent de l’étranger, qui n’ont rien. Ils sont placés dans des foyers et envoyés chez nous par les services sociaux pour qu’on les équipe eux et leurs enfants. Mais il y a aussi des Suisses. Il y a du monde, une vingtaine de personnes deux fois par semaine.

Ce sont vraiment les démunis, des gens dans le total besoin. Ils peuvent avoir besoin de langes, comme de petits habits ou de jouets. Les autres n’ont pas vraiment le droit de venir ici, car on donne les choses. On ne demande rien en échange.</p>
        </section>
        <section class="question">
            <h3 class="question">Quels sont les problèmes auxquels vous êtes confrontés quotidiennement ?</h3>
            <p class="answer">Les personnes ont besoin de choses mais certaines ont des exigences, elles ne veulent pas prendre n’importe quoi. Nous trions déjà les habits : on envoie des choses pour la mission, en Europe de l’est, donc ce qui reste est vraiment joli.

Il y a aussi les personnes qui veulent prendre trop d’habits ou celles qui ont un téléphone mobile dernier cri et qui n’ont pas l’air en situation de précarité. On se demande donc parfois s’il n’y a pas de l’abus.</p>
        </section>
        <section class="question">
            <h3 class="question">Quels conseils donnez-vous à quelqu’un ayant de la peine à trouver du matériel pour elle et sa famille ?</h3>
            <p class="answer">Nous leur conseillons de venir à SOS futures mamans.</p>
        </section>
        <section class="question">
            <h3 class="question">Comment la précarité influence-t-elle votre façon de travailler ?</h3>
            <p class="answer">Cela nous fait toujours un peu mal de penser qu’il y a des gens qui n’ont rien. Mais il y a une petite part de rage aussi quand on voit que certaines personnes font les difficiles. Nous avons plaisir à pouvoir leur offrir les habits que l’on a là, mais on est parfois un peu déçues de leur comportement.

Parfois on est trop gentilles, on est trop dans les sentiments, ces situations nous touchent. Il faut essayer d’avoir une certaine distance et de la discipline.
</p>
        </section>
    <table>
        <tbody>
        <tr>
            <td colspan="2">SOS Futures Mamans</td>
        </tr>
        <tr>
            <td>Rue du l’Hôpital 31</td>
            <td>Mardi 14h.16h</td>
          
        </tr>
        <tr>
            <td>1400 Yverdon</td>
            <td>Vendredi9h-11h</td>
        </tr>
        <tr>
            <td>Tél.  024 426 52 52</td>
        </tr>
        </tbody>
    </table>   
    </section>
                <section class="quote">
        <quote class="big">
            <p>
                <span>L’achat de vêtements c’est pour nous</span><span>des dépenses exceptionnelles.</span><span>Lorsqu’ils sont troués, trop petits ou trop usés.</span>
            </p>
        </quote>
    </section>
        <section class="portrait">
            <p class="answer">Les habits se passent d’un enfant à l’autre. Ils ont des cartons pleins d'habits en réserve. Principalement des habits de deuxième main.
                L’achat de vêtements c’est pour nous des dépenses exceptionnelles. Dans le cas où ils sont troués, trop petits ou trop usés.
                Contre tout attente, leurs enfants ne s’en plaignent pas, mais il est clair que les autres enfants réalisent qu’ils n’ont pas comme eux des habits de marque ou neufs.</p>
        </section>
    
   
{% endblock %}