{% extends "::theme.html.twig" %}

{% block stats %}
     <p>40% des 15-25 ans ont parfois un sentiment de solitude.</p>
    <figure>
        <!--<img alt="" src="{{ asset('images/stats.png') }}" />-->
        <div class="row">
                <ul data-pie-id="pie">
                    <li data-value="40"></li>
                    <li data-value="60"></li>
                </ul>
                <div id="pie"></div>
        </div>
    </figure>
{% endblock %}

{% block lead %}
    <p>Trouver des vêtements à un prix inférieur à celui du troisième démarquage de printemps, c’est comme chercher une aiguille dans une botte de foin. Pourtant, certains ont trouvé des solutions. Fouiller parmi les fripes chez Caritas, user les habits de l’aîné au cadet, ou troquer sa penderie contre celle d’un ami. Le shopping sur l’avenue de la précarité est présenté en long et large dans cette rubrique.</p>
{% endblock %}

{% block article_top %}

{% endblock %}

{% block article_bottom %}

    <section class="video">
        <iframe id="ytplayer" type="text/html" width="960" height="540" src="http://www.youtube.com/embed/IMEqtBelzmE?rel=0&autoplay=0&autohide=1&color=red&controls=1&iv_load_policy=3&modestbranding=1&theme=light&showinfo=0" frameborder="0"></iframe>
</section>
    
    <section class="quote">
        <quote class="big">
            <p>
                <span>Je fais du troc avec des amis.</span>
                <span>C'est intéressant car tu as l'impression</span>
                <span>d'avoir quelque chose de neuf</span>
                <span>alors que tu ne l'as pas payé.</span>
            </p>
        </quote>
    </section>

    <section class="video">
        <iframe id="ytplayer" type="text/html" width="960" height="540" src="http://www.youtube.com/embed/OH0UPLIWyjc?rel=0&autoplay=0&autohide=1&color=red&controls=1&iv_load_policy=3&modestbranding=1&theme=light&showinfo=0" frameborder="0"></iframe>
</section>
    
    <section class="portrait">
        <h1>Boutique Caritas Yverdon</h1>
        <h2>Sharon West</h2>
        <section class="twothird">
            <section class="left">
                <img src="{{ asset('images/BoutiqueCaritas-2.jpg') }}" alt="Sharon West Caritas Yverdon" />
              
            </section>
            <section class="right">
                <quote class="small">La précarité m’a aidé à comprendre la vie des autres. Beaucoup de personnes ont une vie différente, on comprend alors qu’on est très chanceux.</quote>

                <span class="name">Sharon West</span>
            </section>
        </section>
    
    
        <section class="question">
            <h3 class="question">Sous quelle forme la précarité se manifeste-t-elle dans le cadre de votre travail ?</h3>
            <p class="answer">Il y a beaucoup de personnes dans la précarité qui viennent à la boutique. Il y a des suisses, portugais, polonais, des personnes âgées, des étudiants, c’est pour tout le monde. Elle est très fréquentée et énormément par les étrangers.
</p>
        </section>
        <section class="question">
            <h3 class="question">Comment la vivez/expérimentez-vous ?</h3>
            <p class="answer">Normalement, c’est un plaisir d’aider les gens, mais quelques fois c’est difficile. Par exemple, quand il y a des gens qui vivent dans la rue et qui demandent des habits gratuits. Mais normalement c’est pas un problème, j’aime beaucoup.</p>
        </section>
        <section class="question">
            <h3 class="question">Quels sont les problèmes auxquels vous êtes confrontée quotidiennement ?</h3>
            <p class="answer">Il y a des personnes qui volent des choses, c’est un petit problème. Mais ce n’est pas très grave, ça arrive juste quelques fois.</p>
        </section>
        <section class="question">
            <h3 class="question">Quels conseils donnez-vous à quelqu’un ayant de la peine à trouver des habits ?</h3>
            <p class="answer">Ce n’est pas des conseils, mais je peux aider les gens en leur donnant une CarteCulture Caritas*. Mais souvent ce sont des personnes seules, qui veulent quelqu’un pour parler. C’est quelque chose d’important pour eux. Ou, par exemple, parfois les personnes demandent si un habit leur va bien. Je fais beaucoup d’écoute. C’est possible d’aider ces personnes mais c’est déjà un bon début de les écouter.</p>
        </section>
        <section class="question">
            <h3 class="question">Comment la précarité influence-t-elle votre façon de travailler ?</h3>
            <p class="answer">Cela m’a aidé à comprendre la vie des autres. Beaucoup de personnes ont une vie différente, ils sont pauvres ou avec une grande famille et des difficultés. C’est ainsi que l’on comprend qu’on est très chanceux. J’ai de l’argent pour vivre, mais pour les autres c’est difficile. Tu vois vraiment la différence.</p>
        </section>       
        <section class="question">
            <footer>*CarteCulture Caritas : carte qui offre aux personnes défavorisées la possibilité de participer à la vie sociale et culturelle malgré leurs difficultés financières. Plus d’infos sur <a href="http://www.carteculture.ch/">www.carteculture.ch</a></footer>
        </section>
        <table>
            <tbody>
            <tr>
                <td colspan="2">CARITAS La Boutique</td>
            </tr>
            <tr>
                <td>Rue Maison-Rouge 11</td>
                <td>Lundi 13h30 - 18h</td>
              
            </tr>
            <tr>
                <td>1400 Yverdon</td>
                <td>Mardi à vendredi 9h-12 et 13h30-18h</td>
            </tr>
            <tr>
                <td>Tél. 024 426 34 61</td>
                <td>Samedi 9h-12h</td>
            </tr>
            </tbody>
        </table>   
    </section> 
    
    <section class="portrait">
        <h1>SOS Futures Mamans Yverdon</h1>
        <h2>Verena Yersin, Rose-Marie Dyens, Anne-Lise Gschwind</h2>
        <section class="twothird">
            <section class="left">
                <img src="{{ asset('images/SOSFuturesManman-1.jpg') }}" alt="sos futures mamans" /> 
              
            </section>
            <section class="right">
                <quote class="small">Cela nous fait toujours un peu mal de penser qu’il y a des gens qui n’ont rien.</quote>

                <span class="name">Verena Yersin, Rose-Marie Dyens, Anne-Lise Gschwind</span>
            </section>
        </section>
    
    
        <section class="question">
            <h3 class="question">Sous quelle forme la précarité se manifeste-t-elle dans le cadre de votre travail ?</h3>
            <p class="answer">C’est une question difficile. Ce sont souvent des gens qui viennent de l’étranger, qui n’ont rien. Ils sont placés dans des foyers et envoyés chez nous par les services sociaux pour qu’on les équipe eux et leurs enfants. Mais il y a aussi des Suisses. Il y a du monde, une vingtaine de personnes deux fois par semaine.</p>

<p>Ce sont vraiment les démunis, des gens dans le total besoin. Ils peuvent avoir besoin de langes, comme de petits habits ou de jouets. Les autres n’ont pas vraiment le droit de venir ici, car on donne les choses. On ne demande rien en échange.</p>
        </section>
        <section class="question">
            <h3 class="question">Quels sont les problèmes auxquels vous êtes confrontés quotidiennement ?</h3>
            <p class="answer">Les personnes ont besoin de choses mais certaines ont des exigences, elles ne veulent pas prendre n’importe quoi. Nous trions déjà les habits : on envoie des choses pour la mission, en Europe de l’est, donc ce qui reste est vraiment joli.

Il y a aussi les personnes qui veulent prendre trop d’habits ou celles qui ont un téléphone mobile dernier cri et qui n’ont pas l’air en situation de précarité. On se demande donc parfois s’il n’y a pas de l’abus.</p>
        </section>
        <section class="question">
            <h3 class="question">Quels conseils donnez-vous à quelqu’un ayant de la peine à trouver du matériel ?</h3>
            <p class="answer">Nous leur conseillons de venir à SOS futures mamans.</p>
        </section>
        <section class="question">
            <h3 class="question">Comment la précarité influence-t-elle votre façon de travailler ?</h3>
            <p class="answer">Cela nous fait toujours un peu mal de penser qu’il y a des gens qui n’ont rien. Mais il y a une petite part de rage aussi quand on voit que certaines personnes font les difficiles. Nous avons plaisir à pouvoir leur offrir les habits que l’on a là, mais on est parfois un peu déçues de leur comportement.

Parfois on est trop gentilles, on est trop dans les sentiments, ces situations nous touchent. Il faut essayer d’avoir une certaine distance et de la discipline.
</p>
        </section>
    <table>
        <tbody>
        <tr>
            <td colspan="2">SOS Futures Mamans</td>
        </tr>
        <tr>
            <td>Rue du l’Hôpital 31</td>
            <td>Mardi 14h-16h</td>
          
        </tr>
        <tr>
            <td>1400 Yverdon</td>
            <td>Vendredi 9h-11h</td>
        </tr>
        <tr>
            <td>Tél.  024 426 52 52</td>
        </tr>
        </tbody>
    </table>   
    </section>
                <section class="quote">
        <quote class="big">
            <p>
                <span>L’achat de vêtements c’est pour nous</span><span>des dépenses exceptionnelles.</span><span>Lorsqu’ils sont troués, trop petits ou trop usés.</span>
            </p>
        </quote>
    </section>
        <section class="portrait">
            <h1><span>Extrait du reportage "Au centime près"</span></h1>
            <p class="answer">Les habits se passent d’un enfant à l’autre. Ils ont des cartons pleins d'habits en réserve. Principalement des habits de deuxième main.
                L’achat de vêtements c’est pour nous des dépenses exceptionnelles. Dans le cas où ils sont troués, trop petits ou trop usés.
                Contre tout attente, leurs enfants ne s’en plaignent pas, mais il est clair que les autres enfants réalisent qu’ils n’ont pas comme eux des habits de marque ou neufs.</p>
                <p><a href="{{ path('comem_newsroom_report', {'title': 'famille'}) }}">Reportage en entier</a></p>
        </section>
    
   
{% endblock %}