$font-regular: 'helvetica', sans-serif;
$font-light: 'Helvetica-Light', 'helvetica', sans-serif;
$font-medium: 'Helvetica-Medium', 'helvetica', sans-serif;
$font-bold: 'Helvetica-Bold', 'helvetica', sans-serif;