@import 'color';
@import 'reset';
@import 'functions';
@import 'font';

body {
    font-family: $font-regular;
}

h1 {
    font-size: 1.4em;
}

article {
    margin: 20px;
    border: 1px solid $black;
}