@import 'color';
@import 'reset';
@import 'functions';
@import 'font';
 $contentWidth:960px;
 $minHeight:600px;
 body {
    font-family: $font-text;
    font-size: 16px;
    background: $white;
    p, td {
        font-size: 1.3em;
        line-height: 1.25em;
    }
    & > header {
        max-width: 1280px;
        width: 100%;
        min-width: $contentWidth;
        margin: 0 auto;
        z-index: 100;
        overflow: visible;
        nav {
            width: $contentWidth;
            height: 50px;
            margin: 0 auto;
            background-color: #999999;
            &>ul {
                margin: 0 auto;
                text-align: center;
                position: static;
                &>li {
                    display: block;
                    //padding: 10px 10px;
                    width: 189px;
                    color: $white;
                    font-family: $font-nav;
                    text-decoration: none;
                    font-size: 1.05em;
                    height: 50px;
                    line-height: 50px;
                    float: left;
                    a, h1 {
                        color: $black;
                        font-family: $font-nav;
                        text-decoration: none;
                        font-size: 1.05em;
                        display: block;
                    }
                    &.actif {
                        color: $red;
                    }
                    &:hover > ul{
                        display: inline;
                        text-decoration: none;
                        list-style: none;
                        width: $contentWidth;
                        background: #bfbfbf;
                        height: 40px;
                        clear: both;
                        position: absolute;
                        margin: 0 auto;
                        li{
                            display: inline-block;
                        }
                    }
                    & > ul {
                        display: none;
                    }
                }
            }
        }
    }
    & > article {
        width: $contentWidth;
        margin: 0 auto;
        @media only screen and (max-height: $minHeight) {
            &#main {
                section.top {
                    #topBg {
                        height: $minHeight;
                    }
                    .stats {
                        position: relative;
                        margin-top: 30px;
                        margin-bottom: 0px;
                    }
                    header {
                        position: relative;
                        margin-top: 0px;
                        margin-bottom: 50px;
                    }
                }
                section.bottom {
                    top: $minHeight;
                }
            }
        }
        section.top {
            z-index: 100;
            min-width: 960px;
            display: block;
            #topBg {
                height: 80%;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
                background-image: url('../images/craft.jpg');
                width: 100%;
                display: block;
                position: absolute;
                top: 0px;
                left: 0px;
                z-index: -5;
                min-width: 960px;
            }
            section.stats {
                font-family: $font-text-italic;
                font-size: 1.55em;
                color: $red;
                margin: 30px 20px 30px 0px;
                position: relative;
                top: 5%;
                width: 0.5 * $contentWidth;
                float: right;
                text-align: right;
                display: inline-block;
                p {
                    display: inline-block;
                    width: (0.5 * $contentWidth) - 115;
                    height: auto;
                    line-height: 1em;
                }
                figure {
                    width: 100px;
                    height: 100px;
                    display: inline-block;
                    margin-left: 8px;
                    img {
                        width: 100%;
                    }
                }
            }
            header {
                margin: 100px 0 0 0;
                position: absolute;
                top: 12%;
                width: $contentWidth;
                border-bottom: 3px solid $red;
                padding-bottom: 20px;
                h1 {
                    text-align: left;
                    overflow: hidden;
                    width: $contentWidth;
                    font-family: $font-title-h1;
                    font-size: 3.5em;
                    color: $red;
                }
                span {
                    display: inline-block;
                    position: relative;
                    &:after {
                        border-top: 3px solid $red;
                        display: block;
                        height: 3px;
                        content: "";
                        width: $contentWidth;
                        position: absolute;
                        top: 1.2em;
                    }
                    &:after {
                        margin-left: 10px;
                        left: 100%;
                    }
                }
                p {
                    font-family: $font-text-italic;
                    font-size: 2em;
                }
            }
            section {
                position: absolute;
                top: 60%;
                width: $contentWidth;
            }
        }
        section.bottom {
            position: absolute;
            width: $contentWidth;
            top: 80%;
            margin-top: 30px;
            & > section {
                margin-top: 3em;
            }
            &:first-child {
                margin-top: 0;
            }
            & > footer {
                text-align: center;
                padding-bottom: 10px;
                position: static;
                bottom: 0px;
                a {
                    padding: 5px;
                    display: inline-block;
                }
            }
            p {
                padding: 1em 0;
                text-align: left;
            }
            #help {
                background: $red;
                padding-bottom: 20px;
                & > h1 {
                    font-size: 2em;
                    padding: 5px 0px 5px 20px;
                }
                section {
                    display: inline-block;
                    width: 300px;
                    height: 150px;
                    background: green;
                    margin: 10px;
                }
            }
        }
        & > footer {
            display: block;
            text-align: center;
            border-top: 3px solid $red;
            margin-top: 50px;
            a {
                padding: 10px;
                color: $red;
                font-size: 1.2em;
                font-family: $font-title-h3;
                text-decoration: none;
            }
        }
    }
}
section.tcol {
    & > h1 {
        font-family: $font-title-h2;
        font-size: 2em;
    }
    p {
        @include x-columns(3);
    }
}
section.quote {
    text-align: center;
    width: $contentWidth;
    overflow: hidden;
    quote {
        display: inline-block;
        position: relative;
        color: $red;
        font-size: 2em;
        margin: 0 0.5%;
        text-align: center;
        line-height: 1.5em;
        &:before, &:after {
            border-top: 3px solid $red;
            ;
            display: inline-block;
            height: 1px;
            content: " ";
            width: $contentWidth;
            position: absolute;
            top: 50%;
        }
        &:after {
            left: 100%;
            margin-left: 15px;
        }
        &:before {
            right: 100%;
            margin-right: 15px;
        }
        p {
            position: relative;
            display: inline;
            span {
                display: block;
                text-align: center;
                &:first-of-type {
                    &:before {
                        content: "« ";
                        font-family: $font-text;
                    }
                }
                &:last-of-type {
                    &:after {
                        content: " »";
                        font-family: $font-text;
                    }
                }
            }
        }
    }
}
section.twothird {
    &>section {
        display: inline-block;
        &.left {
            width: 68%;
            img {
                margin: 0;
                width: 100%;
                margin-bottom: -10px;
            }
        }
        &.right {
            width: 28%;
            margin-left: 2%;
            quote.small {
                font-family: $font-text-italic;
                font-size: 2em;
                padding-bottom: 30px;
                display: block;
                &:before {
                    content: "« ";
                    font-family: $font-text-italic;
                }
                &:after {
                    content: " »";
                    font-family: $font-text-italic;
                }
            }
            span.name {
                text-transform: uppercase;
                padding-top: 30px;
                display: block;
            }
        }
    }
}
section.portrait {
    &>h1 {
        font-family: $font-title-h2;
        font-size: 2.5em;
    }
    &>h2 {
        font-size: 2.4em;
        margin-top: -15px;
        margin-bottom: 15px;
    }
    &>img {
        width: 100%;
    }
    &>section.question {
        margin-top: 50px;
        h3 {
            color: $red;
            font-family: $font-title-h3;
            font-size: 1.5em;
        }
        p {
            font-family: $font-text-italic;
            font-size: 1.5em;
            padding: 0;
        }
    }
    &>table {
        margin-top: 30px;
        width: 60%;
    }
    &>footer {
        margin-top: 30px;
        font-size: 1.3em;
        line-height: 1.25em;
        &:before {
            content: "*";
        }
    }
}
section.smalltalks {
    width: $contentWidth;
    overflow: hidden;
    h1 {
        font-family: $font-title-h1;
        font-size: 3.5em;
        color: $red;
        display: inline-block;
        span {
            display: inline-block;
            position: relative;
            &:after {
                border-top: 3px solid $red;
                display: block;
                height: 3px;
                content: "";
                width: $contentWidth;
                position: absolute;
                top: 1.2em;
            }
            &:after {
                margin-left: 10px;
                left: 100%;
            }
        }
    }
    p {
        @include x-columns(3);
    }
    border-bottom:3px solid $red;
}